.errorComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.errorComponent > svg {
  font-size: var(--text-6xl);
}

.errorComponent > .errorText {
  font-size: var(--text-3xl);
}

.errorComponent > .buttonsWrapper {
  display: initial;
}

.button-icon-flex > .refreshIcon {
  font-size: var(--text-xl);
  padding-right: 2px;
}
