.errorComponent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.errorComponent > svg {
  font-size: var(--heading-1);
}

.errorComponent > .errorText {
  font-size: var(--heading-4);
}

.errorComponent > .buttonsWrapper {
  display: initial;
}

.button-icon-flex > .refreshIcon {
  font-size: var(--title);
  padding-inline-end: 2px;
}
