.smallInfo {
  text-align: left;
}

.smallTitle {
  font-size: var(--text-sm);
  color: var(--text-default);
}

.smallSubtitle {
  font-size: var(--text-sm);
  color: var(--text-default);
}

.clickable {
  color: var(--accent);
  cursor: pointer;
  transition: 400ms;
}

.clickable:hover {
  color: var(--accent-overlay);
}
