.systeminfo {
  .logo {
    height: 100%;
    zoom: 2;
  }

  .heroic-icon {
    zoom: 0.191;
  }

  .fillWithThemeColor {
    path {
      fill: var(--text-default) !important;
    }
  }

  .MuiLinearProgress-bar {
    background-color: var(--success);
  }

  .copyToClipboardButton {
    width: 50%;
    margin-top: 20px;
  }

  .showSystemSpecifications {
    font-size: initial;
  }
}
