.icons {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 5;
  padding: 6px;
  margin-right: 4px;
  transition: 300ms;
}

.icons > .material-icons.settings.folder {
  position: initial;
}

.icons > a > svg,
.icons > svg {
  width: min(calc(1vw + 9px), 36px);
  height: min(calc(1vw + 9px), 36px);
  min-width: 22px;
  min-height: 22px;
  margin-left: 12px;
}

.downIcon > circle {
  fill: var(--secondary);
}

.toolsListItem {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-areas: 'name date size action';
  height: 8vh;
  margin: 1em 3em;
  align-items: center;
  justify-items: baseline;
  position: relative;
  cursor: default;
  width: 95%;
  place-self: center;
  border-bottom: 1px solid gray;
}

.toolsTitleList {
  grid-area: name;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
}

.toolsListItem > a {
  grid-area: cover;
  max-width: 15vh;
  width: 100%;
  height: 100%;
}

.toolsListItem > .icons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 120px;
  height: 100%;
  padding: 0 6px;
}

.toolsListItem > .progress {
  z-index: 5;
  grid-area: cover;
  font-weight: 500;
  background: var(--background-gradient);
  padding: 2px 5px;
  border-radius: 4px;
  color: var(--success);
  position: relative;
  bottom: -38px;
  left: -38px;
  color: var(--success);
  font-family: Rubik;
  font-style: italic;
  font-weight: normal;
  line-height: 12px;
}

.toolsListItem > .progress > .MuiSvgIcon-root {
  position: relative;
  bottom: 0;
  top: 0;
}

.toolsListDate {
  font-size: 1em;
  grid-area: date;
}

.toolsListSize {
  font-size: 1em;
  grid-area: size;
}

.react-contextmenu--visible {
  background-color: var(--background);
  padding: 14px 22px;
  border-radius: 6px;
  z-index: 99;
}

.react-contextmenu-item {
  color: var(--text-primary);
  font-size: 14px;
  line-height: 26px;
  font-family: Rubik;
  cursor: pointer;
  text-align: left;
}

.react-contextmenu-item:hover {
  color: var(--secondary);
}

.react-contextmenu-item.disabled {
  color: var(--icon-disabled);
  cursor: initial;
}
