.gameConfigContainer {
    background: var(--background-darker);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    height: 100vh;
    justify-content: stretch;
    position: relative;
}

.gameConfig {
    display: flex;
    align-self: center;
    max-width: 1000px;
}

.gameConfigContainer .title {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #f79707;
    text-align: left;
}

.gamePicture {
    flex-basis: 40%;
    flex-shrink: 0;
    flex-grow: 0;
}

.gameInfo {
    text-align: initial;
    font-size: 1rem;
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
}

.gameInfo>.settingSelect {
    margin-bottom: 12px;
}

.gameInfo .infoWrapper {
    color: var(--text-primary);
    flex-grow: 1;
}

.gameInfo .developer {
    padding: 1rem 0 1rem 0;
    color: var(--text-secondary);
}

.gameInfo .summary {
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
    text-overflow: ellipsis;
    display: -webkit-box;
    color: var(--text-primary);
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.gameInfo,
.gameTools,
.gameRequirements {
    display: none;
    align-self: flex-start;
    padding: 8vh 2.2em 1.2em 1.2em;
    min-height: 0px;
    overflow: auto;
    max-height: 100%;
}

.gameTabs {
    flex: 60%;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.gameTabs.infoTab .gameInfo,
.gameTabs.toolsTab .gameTools,
.gameTabs.requirementsTab .gameRequirements {
    display: flex;
}

.gameTabs nav {
    text-align: right;
    padding: 15px;
}
.gameTabs nav button {
    margin-right: 1em;
    border: none;
    background: none;
    color: var(--text-primary);
    cursor: pointer;
    font-size: 1em;
}
.gameTabs.infoTab button[data-tab='info'],
.gameTabs.toolsTab button[data-tab='tools'],
.gameTabs.requirementsTab button[data-tab='requirements'] {
    color: var(--secondary);
}

.installProgress[value] {
    appearance: none;
    width: 169px;
    height: 5px;
}

.installProgress[value]::-webkit-progress-value {
    color: var(--success);
    animation: animate-stripes 5s linear infinite;
}

.clickable:hover {
    cursor: pointer;
    color: var(--secondary);
}

.buttonsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: baseline;
}

.updateText {
    cursor: pointer;
}

.updateText:hover {
    color: var(--text-secondary);
}

.pictureTimeContainer {
    display: flex;
    flex-direction: column;
    max-height: 400px;
}

.infoWrapper.itemContainer {
    place-content: center;
    text-align: initial;
    width: 20vw;
    min-width: fit-content;
    max-width: 290px;
    margin-bottom: 12px;
}

.itemTitle {
    font-weight: 700;
    text-align: center;
}

.checkBox {
    display: flex;
    margin-top: 6px;
    align-items: center;
}

.dlcTitle {
    font-weight: 700;
    margin-top: 16px;
}

.sdlTitle {
    cursor: pointer;
    font-weight: 700;
}

.sdlTitle:hover {
    color: var(--secondary);
}

.itemName {
    margin-left: 4px;
}

.MuiIconButton-colorPrimary,
.MuiCheckbox-colorPrimary.Mui-checked {
    color: var(--secondary);
}

.PrivateSwitchBase-root-1 {
    padding: 2px;
}

@keyframes animate-stripes {
    100% {
        background-position: -100px 0px;
    }
}
