{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "sort-imports-es6-autofix", "sort-exports"],
  "settings": {
    "react": {
      "version": "17.0"
    }
  },
  "rules": {
    "complexity": "off",
    "sort-vars": 2,
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "sort-imports-es6-autofix/sort-imports-es6": [
      2, {}
    ],
    "sort-exports/sort-exports": ["error", {"sortDir": "asc"}]
  }
}
