{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "sort-imports-es6-autofix",
    "sort-exports",
    "sort-keys-fix",
    "typescript-sort-keys"
  ],
  "settings": {
    "react": {
      "version": "17.0"
    }
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "complexity": "off",
    "comma-dangle": ["error", "never"],
    "eol-last": ["error", "always"],
    "indent": ["error", 2],
    "no-trailing-spaces": "error",
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "sort-exports/sort-exports": ["error", { "sortDir": "asc" }],
    "sort-imports-es6-autofix/sort-imports-es6": ["error", {}],
    "sort-keys-fix/sort-keys-fix": "error",
    "sort-vars": "error",
    "typescript-sort-keys/interface": "error"
  }
}
