.Header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--space-md) var(--space-md-fixed);
  background: var(--gradient-body-background, var(--body-background));
  color: var(--text-secondary);
}

.frameless:not(.fullscreen) .Header {
  padding-right: calc(
    var(--overlay-controls-width) - env(titlebar-area-x, 0px) + 10px
  );
}

.Header__filters {
  grid-area: filters;
  display: flex;
  gap: var(--space-sm);
  align-self: center;
  flex-shrink: 0;
}

.Header__filters .FormControl {
  margin-inline-end: 0;
}

.Header__search {
  flex: 1 1 auto;
  min-width: 0;
  max-width: 720px;
}

.Header__search .FormControl {
  width: 100%;
}

.Header__summary {
  grid-area: summary;
  text-align: end;
  white-space: nowrap;
  margin-inline-start: 8px;
}

/* TODO move following styles to the components which use them */

.iconsWrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

.refreshIcon:hover,
.svg-button:focus-visible .refreshIcon {
  animation: refreshing 2s infinite;
}

@keyframes refreshing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
