.SearchBar {
  grid-area: search;
  width: 100%;
  position: relative;
}

.searchInput {
  height: 35px;
  border-radius: 5px;
  border: none;
  color: var(--text-primary);
  text-indent: 8px;
  font-size: 16px;
  outline: none;
  background: var(--background);
  width: 80%;
  padding-right: 2.5em;
}

.clearSearchInputWrapper {
  position: absolute;
  top: 22%;
  right: 0;
  padding-right: 12%;
  line-height: 1em;
}

.clearSearchInput {
  cursor: pointer;
  padding: 0 5px;
  border: none;
  font-weight: bold;
  color: var(--text-secondary);
  font-size: 1.4em;
  text-decoration: none;
  background: none;
}

.clearSearchInput:hover {
  color: var(--text-primary);
}

.isEmpty {
  display: none;
}
