.windowControls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  -webkit-app-region: no-drag;

  button {
    height: 36px;
    width: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background-color: var(--body-background);

    &:hover {
      background-color: var(--secondary-hover);
    }
  }

  button.close:hover {
    background-color: var(--status-danger-hover);
  }
}
