.Dialog {
  padding: 0;
  text-align: left;

  --dialog-margin-horizontal: 32px;
  --dialog-margin-vertical: 24px;
  --dialog-gap: 24px;
}

.Dialog__element {
  top: 0;
  z-index: 8;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: auto;
  border: solid 1px var(--modal-border);
  border-radius: 10px;
  background: var(--modal-background);
  color: var(--text-default);
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 500ms, transform 500ms;
  max-width: min(700px, 85vw);
}

.Dialog__element[open] {
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0px 0px 0px 100vmax var(--modal-backdrop);
}

.Dialog__header {
  display: flex;
}

.Dialog__headerTitle {
  flex: 100% 1 1;
  padding: var(--dialog-margin-vertical) 16px 0 var(--dialog-margin-horizontal);
  font-size: var(--text-xl);
  margin: var(--space-lg) 0 0;
}

.Dialog__Close {
  padding: 0 var(--dialog-margin-horizontal) 0 0;
}

.Dialog__CloseButton {
  border: none;
  margin: calc(-1 * var(--space-xs));
  padding: var(--space-xs);
  border-radius: var(--space-xs);
  background: none;
  color: var(--text-default);
  cursor: pointer;
  transition: 250ms color;
  position: absolute;
  right: var(--space-lg);
  top: var(--space-md);
}

.Dialog__CloseButton:focus-visible {
  outline: none;
  box-shadow: var(--accent) 0 0 0 2px inset;
}

.Dialog__CloseButton:hover {
  color: var(--text-hover);
}

.Dialog__CloseButton:active {
  color: var(--accent);
}

.Dialog__CloseIcon {
  font-size: var(--text-lg);
}

.Dialog__content {
  padding: var(--dialog-gap) var(--dialog-margin-horizontal);
}

.Dialog__footer {
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: 0 0 0 auto;
  padding: 0 var(--dialog-margin-horizontal) var(--dialog-margin-vertical)
    var(--dialog-margin-horizontal);
}
