.ModifyInstall {
  &__dialog {
    min-width: fit-content;
    max-height: 95vh;
    overflow-x: hidden;

    & .Dialog__content {
      width: 65vw;
      max-width: 800px;
    }

    & .button {
      margin: 0 var(--space-md);
      min-width: 40%;
    }
  }

  &__gogDlcs .emptyState {
    text-align: center;
    margin: var(--space-lg) 0;
    opacity: 0.5;
    & svg {
      width: 40px;
      height: 40px;
    }
  }

  &__redMod {
    margin-bottom: var(--space-md);
    & .modsHelpWrapper {
      margin: 0 var(--space-md);
    }
    & .modDraggable {
      top: auto !important;
      left: auto !important;
      margin: var(--space-xs);
      padding: 5px;
      padding-right: 13px;
      background: var(--input-background);
      border-radius: var(--space-3xs);
      font-size: var(--text-md);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__branchPassword {
    width: 30vw;
    & .controls {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  &__version,
  &__languages,
  &__branch {
    margin: 0 var(--space-md);
  }
}
