.MuiPaper-root.MuiPopover-paper {
  background-color: var(--background);
  color: var(--text-primary);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--border-color);
  padding: 16px;
  max-width: 400px;
  min-width: 300px;
  width: fit-content;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
