.toolManagerListItem > .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 var(--space-md-fixed);
  align-self: center;
  flex-wrap: wrap;
}

.toolManagerListItem > .icons > .material-icons.settings.folder {
  position: initial;
}

.toolManagerListItem > .icons > a > svg,
.toolManagerListItem > .icons > svg {
  width: min(calc(1vw + 9px), 36px);
  height: min(calc(1vw + 9px), 36px);
  min-width: 22px;
  min-height: 22px;
  margin-left: 12px;
}

.toolManagerListItem {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-areas: 'name date size action';
  margin: var(--space-xs) var(--space-lg);
  align-items: center;
  justify-items: baseline;
  position: relative;
  cursor: default;
  place-self: center;
  border-bottom: 1px solid gray;
  padding: var(--space-xs-fixed) 0;
}

.toolManagerTitleList {
  grid-area: name;
  font-size: var(--text-md);
  font-weight: bold;
  text-transform: capitalize;
}

.toolManagerListItem > a {
  grid-area: cover;
  max-width: 15vh;
  width: 100%;
  height: 100%;
}

.toolManagerListItem > .icons > button {
  margin-left: 0;
  padding-left: 4px;
}

.toolManagerListItem > .progress {
  z-index: 5;
  grid-area: cover;
  font-weight: var(--medium);
  background: var(--background-gradient);
  padding: var(--space-3xs) var(--space-2xs);
  border-radius: 4px;
  color: var(--success);
  position: relative;
  bottom: -38px;
  left: -38px;
  color: var(--success);
  font-family: var(--secondary-font-family);
  font-style: italic;
  font-weight: normal;
  line-height: 12px;
}

.toolManagerListItem > .progress > .MuiSvgIcon-root {
  position: relative;
  bottom: 0;
  top: 0;
}

.toolManagerListDate {
  font-size: var(--text-md);
  grid-area: date;
}

.toolManagerListSize {
  font-size: var(--text-md);
  grid-area: size;
  justify-self: center;
}

.react-contextmenu--visible {
  background-color: var(--background);
  padding: var(--space-md) var(--space-lg);
  border-radius: 6px;
  z-index: 99;
}

.react-contextmenu-item {
  color: var(--text-default);
  font-size: var(--text-sm);
  line-height: 26px;
  font-family: var(--secondary-font-family);
  cursor: pointer;
  text-align: left;
}

.react-contextmenu-item:hover {
  color: var(--download-button);
}

.react-contextmenu-item.disabled {
  color: var(--icon-disabled);
  cursor: initial;
}
