.gamePicture {
  max-width: 210px;
  max-height: 280px;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  margin-bottom: 16px;
}

.gamePicture > .gameLogo {
  position: absolute;
  bottom: 0;
  width: 70%;
  min-width: 140px;
}