.gamePicture {
    display: flex;
    justify-content: center;
    align-content: center;
}

.gamePicture>.gameImg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    left: 0px;
}

.gamePicture>.gameLogo {
    position: absolute;
    bottom: 0;
    width: 70%;
    min-width: 140px;
}