.infoBox {
  cursor: default;
  width: 100%;
  padding: var(--space-sm) var(--space-lg);
  font-size: var(--text-md);
  line-height: 19px;
  background-color: var(--input-background);
  border-radius: 10px;
  text-align: start;
}

.helpLink {
  margin-block-start: var(--space-3xs);
  transition: 500ms;
  color: var(--accent);
  cursor: pointer;
  display: flex;
  height: 40px;
  position: relative;
  align-items: center;
  min-width: 45px;
  justify-content: flex-start;
}

.helpLink:hover {
  color: var(--accent-overlay);
}

.helpLink > svg {
  margin-inline-end: var(--space-3xs);
}

.infoBox > ul {
  text-align: left;
}

.infoBox > strong {
  color: var(--accent);
  font: var(--font-secondary-bold);
}
