.selectWrapper {
  display: grid;
  grid-template-areas: 'label' 'select';
}

.selectWrapper select {
  grid-area: select;
  width: 100%;
  height: 40px;
  background: var(--input-background);
  border-radius: 10px;
  font-family: var(--content-font-family), 'Noto Color Emoji';
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-secondary);
  text-indent: 22px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--text-secondary) 50%
    ),
    linear-gradient(135deg, var(--text-secondary) 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(50% + 1px),
    calc(100% - 15px) calc(50% + 1px), calc(100% - 40px) 50%;
  background-size: 5px 5px, 5px 5px, 1px 70%;
  background-repeat: no-repeat;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 100px;
}

.selectWrapper label {
  justify-self: flex-start;
  grid-area: label;
  align-self: center;
}

.selectWrapper select:disabled {
  cursor: not-allowed;
}

.selectWrapper.small select {
  width: clamp(150px, 10rem, 372px);
}

.selectWrapper.smaller select {
  width: 66px;
  text-indent: 11px;
}

.selectWrapper.small,
.selectWrapper.smaller {
  grid-template-areas: 'select label';
  grid-template-columns: min-content 1fr;
}

.selectWrapper.small label,
.selectWrapper.smaller label {
  margin: 0px 1rem;
}

.selectWrapper select > option {
  background: var(--navbar-background);
  height: 40px;
  color: var(--text-secondary);
  text-indent: 22px;
  font-size: 16px;
  border-radius: 10px;
}

.selectWrapper.rightButtons {
  grid-template: 'label label' 'select buttons';
  grid-template-columns: auto min-content;
  grid-column-gap: 0.5rem;
}

.selectWrapper.rightButtons label {
  grid-area: label;
}

.selectWrapper.rightButtons .rightButtons {
  grid-area: buttons;
  align-self: center;
}
