[Desktop Entry]
Name=Heroic Games Launcher
Exec=heroic-run %u
Terminal=false
Type=Application
Icon=com.heroicgameslauncher.hgl
StartupWMClass=Heroic
Comment=An Open Source Launcher for GOG, Epic Games and Amazon Games
Comment[de]=Ein OSS-Spielelauncher für GOG, Epic Games und Amazon Games
Comment[pl]=Otwartoźródłowy launcher dla GOG, Epic Games i Amazon Games
MimeType=x-scheme-handler/heroic;
Categories=Game;
