.Sidebar {
  --sidebar-horizontal-padding: var(--space-md);
  --sidebar-vertical-padding: var(--space-lg);
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-rows: min-content 2fr min-content min-content;
  grid-template-areas: 'icon' 'links' 'utils' 'updates' 'version';
  grid-area: sidebar;
  height: 100%;
  padding: 0;
  font-family: var(--secondary-font-family);
  text-align: start;
  background: var(--navbar-background);
  overflow: auto;
  overflow-x: hidden;
  --sidebar-width: 350px;
  width: var(--sidebar-width);

  .heroicIcon {
    grid-area: icon;
    width: 50px;
    height: 68px;
    display: flex;
    margin-top: var(--space-xs);
    justify-self: center;
  }
}

.Sidebar.collapsed {
  --sidebar-vertical-padding: var(--space-xs);
  --sidebar-horizontal-padding: var(--space-lg);
  overflow-x: hidden;
  overflow-y: auto;
}

.Sidebar__section {
  display: flex;
  width: 100%;
  height: fit-content;
  font-family: var(--secondary-font-family);
  flex-direction: column;
}

.Sidebar__item {
  display: flex;
  width: 100%;
  padding: var(--space-xs) var(--sidebar-horizontal-padding);
  border: none;
  background: none;
  cursor: pointer;
  font-size: var(--text-md);
  color: var(--navbar-accent);
  color: var(--navbar-inactive, var(--navbar-accent));
  transition: color 250ms;
  text-align: start;
  font-family: var(--primary-font-family);
  border-radius: 0;
}

.collapsed .Sidebar__item {
  padding: var(--space-xs) 0;
}

.collapsed .Sidebar__itemIcon {
  margin: 0 auto;
}
.Sidebar__item:focus-visible {
  outline: 2px solid var(--text-hover);
  outline-offset: -2px;
}

.Sidebar__item.active {
  color: var(--accent);
  color: var(--navbar-active, var(--accent-overlay));

  .Sidebar__itemIcon {
    color: var(--accent);
    color: var(--navbar-active, var(--accent-overlay));
  }
}

.Sidebar__item.active:not(.SidebarLinks__subItem) {
  background-color: var(--navbar-active-background);
}

.Sidebar__item.active.SidebarLinks__subItem {
  font-weight: var(--bold);
}

.Sidebar__itemIcon {
  box-sizing: border-box;
  width: 24px;
  margin-inline-end: 10px;
  display: inline-flex;
  justify-content: center;
  color: var(--accent);
  color: var(--navbar-inactive, var(--accent));
}

.currentDownloads {
  grid-area: utils;
  align-self: end;
  margin-block: 0 var(--sidebar-vertical-padding);
  margin-inline: var(--sidebar-horizontal-padding) var(--space-3xs);
}

.divider {
  height: 1px;
  opacity: 0.5;
  margin: var(--space-3xs) var(--space-xs);
  background-color: var(--divider);
}

.heroicVersion {
  display: flex;
  gap: 5px;
  grid-area: version;
  margin-block: 0 var(--sidebar-vertical-padding);
  margin-inline: var(--sidebar-horizontal-padding) var(--space-3xs);
  font-size: var(--text-sm);
  cursor: pointer;
  transition: 300ms;
  color: var(--brand-text-01);
}

.heroicVersion:hover {
  color: var(--accent);
}

.heroicNewReleases {
  grid-area: updates;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-block: 0 var(--space-sm);
  margin-inline: var(--space-3xs) var(--sidebar-horizontal-padding);
  font-size: var(--text-sm);
}

.heroicNewReleases > a {
  color: var(--accent);
  transition: 300ms;
}

.heroicNewReleases > a:hover {
  color: var(--accent-overlay);
}

.currentDownloads .statusIcon {
  display: none;
}

.Sidebar.collapsed {
  .heroicVersion {
    margin: var(--space-sm);
    font-size: var(--text-xs);
    text-align: center;
    &__title {
      display: none;
    }
  }

  .heroicNewReleases {
    display: none;
  }

  .currentDownloads {
    .statusIcon {
      display: block;
    }
    .full-size {
      display: none;
    }
  }
}

.Sidebar.collapsed .divider {
  margin: var(--space-3xs) 0;
}

.Sidebar.collapsed .Sidebar__item.active span,
.Sidebar.collapsed .Sidebar__item > span {
  display: none;
}

.Sidebar.collapsed .SidebarItemWithSubmenu .SidebarSubmenu {
  display: none;
}

.Sidebar.collapsed .SidebarItemWithSubmenu:hover .SidebarSubmenu span,
.Sidebar.collapsed .SidebarItemWithSubmenu:focus-within .SidebarSubmenu span {
  display: block;
}

.Sidebar.collapsed .SidebarItemWithSubmenu:hover .SidebarSubmenu,
.Sidebar.collapsed .SidebarItemWithSubmenu:focus-within .SidebarSubmenu {
  display: block;
  position: fixed;
  left: 62px;
  top: 66px;
  background-color: var(--navbar-background);
  padding: var(--space-2xs) 0;
}

.Sidebar.collapsed .SidebarItemWithSubmenu:hover .SidebarSubmenu.settings,
.Sidebar.collapsed
  .SidebarItemWithSubmenu:focus-within
  .SidebarSubmenu.settings {
  top: 114px;
}

.Sidebar.collapsed .Sidebar__item.SidebarLinks__subItem::before {
  display: none;
}

.Sidebar.collapsed .Sidebar__item.SidebarLinks__subItem {
  padding: var(--space-xs) var(--sidebar-horizontal-padding);
}
.Sidebar.collapsed .Sidebar__item.active svg,
.Sidebar.collapsed .Sidebar__item svg {
  transform: scale(1.2);
  padding: var(--space-2xs) 0;
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  z-index: 1;
  cursor: col-resize;
}

.isRTL .resizer {
  left: 0;
  right: auto;
}
