.WebView {
  grid-area: content;
  width: var(--content-width);
  position: relative;
}

.WebView.collapsed {
  width: var(--content-width);
}

.WebView__webview {
  height: calc(100vh - 40px);
  width: var(--content-width);
}

.WebView__webview.collapsed {
  width: var(--content-width);
}

.WebView .login-warning {
  position: absolute;
  top: 40px;
  background: black;
  padding: 1.1rem;
}

.WebView .login-warning.epic {
  right: 0px;
  width: 300px;
}

.WebView .login-warning.gog {
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}
