.libraryTitle {
  grid-area: title;
}

.sideloadGameButton {
  font-family: var(--secondary-font-family);
  border-radius: var(--space-3xs);
  color: var(--text-tertiary);
  background-color: var(--primary);
  padding: 10px;
  border: none;
  margin: 0 24px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 300ms;
}

.sideloadGameButton:hover,
.sideloadGameButton:focus-within {
  background-color: var(--primary-hover);
}

.numberOfgames {
  margin-left: 4px;
  font-size: var(--text-md);
  font-weight: var(--regular);
  background: var(--input-background);
  padding: var(--space-xs);
  margin-left: var(--space-sm);
  border-radius: var(--space-3xs);
}
