.infoBox {
  width: 100%;
  padding: 10px 20px 20px 20px;
  font-size: 16px;
  line-height: 19px;
  background-color: var(--primary-darkest);
  border-radius: 10px;
  margin-inline: 16px;
  text-align: start;
}

.helpLink {
  color: var(--primary-neutral);
  cursor: pointer;
  display: flex;
  height: 40px;
  position: relative;
  align-items: center;
  min-width: 45px;
  justify-content: flex-start;
  margin-inline-start: 16px;
}

.helpLink > svg {
  margin-inline-end: 4px;
}

.infoBox > ul {
  text-align: left;
}

.infoBox > strong {
  color: var(--primary-lighter);
  font: var(--font-secondary-bold);
}
