.UserSelector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: user;
  position: absolute;
  right: 16px;
  top: 17px;
  width: max-content;
  height: 39px;
  border-radius: 10px;
  margin: auto 10px;
  transition: 250ms;
  text-align: center;
}

.UserSelector .userName {
  position: relative;
  font-family: Cabin;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--primary);
  margin-bottom: 8px;
  margin-left: 10%;
  padding-right: 30px;
  white-space: nowrap;
}

.UserSelector .hidden {
  display: none;
  color: var(--text-primary);
  cursor: pointer;
  transition: 150ms;
  opacity: 0;
}

.UserSelector:hover {
  height: fit-content;
  background: #1a1b1c;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.45);
}

.UserSelector:hover > .hidden {
  display: block;
  opacity: 1;
}

.userName > .material-icons {
  position: relative;
  top: 8px;
}
