.gameCard {
  background-color: var(--gradient-gamecard);
  text-align: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition-duration: 0.1s;
  box-shadow: 0px 0px 12px 4px #00000055;
  display: flex;
  flex-direction: column;
  border-radius: var(--space-3xs);
  animation: fade-in 0.2s ease-in;
}

.gameCard:focus-within {
  outline: -webkit-focus-ring-color auto 1px;
}

.gameCard > .status {
  position: absolute;
  z-index: 5;
  top: 15px;
  left: 13px;
  font-weight: var(--semibold);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 2.4%,
    rgba(20, 21, 21, 0.863) 30%
  );
  padding: var(--space-3xs) var(--space-2xs);
  border-radius: 4px;
  color: var(--success);
}

.gameCard > .progress {
  position: absolute;
  z-index: 5;
  bottom: 45px;
  right: 5px;
  color: var(--success);
  font-family: var(--secondary-font-family);
  font-style: italic;
  font-weight: normal;
  font-size: var(--text-xs);
  line-height: var(--space-sm);
  width: fit-content;
  max-width: 104px;
  word-wrap: break-word;
  padding: var(--space-3xs);
  background: var(--gradient-gamecard);
  border-radius: 4px;
}
.gameCard > .progress svg {
  color: var(--success);
  height: 20px;
}

.gameCard.notAvailable > .progress {
  color: var(--text-log);
  text-align: right;
}

.gameCard > a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gameCard .gameImg {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 4;
  display: block;
}

.gameCard .gameLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.gameCard .gameListInfo {
  display: none;
}

.gameCard .gameTitle {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 0.6rem 0.3rem;
  color: var(--text-secondary);
  background: var(--gamecard-title-color);
  transition: 200ms;
  font-family: var(--primary-font-family);
  font-size: var(--text-md);
  font-weight: var(--bold);
  line-height: 17px;
  color: var(--text-gametitle);
  cursor: pointer;
  z-index: 3;
  pointer-events: none;
  transform: translateY(100%);
}

.gameCard:hover .gameTitle {
  display: block;
  transform: translateY(0);
}

.gameCard > .icons {
  background: var(--icons-background);
  justify-content: space-around;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'update settings play';
  padding: var(--space-xs-fixed);
}

.gameCard > .icons.gamepad {
  display: none;
}

.gameCard > .icons > .svg-button {
  justify-self: center;
}

.gameCard .store-icon {
  border-radius: 10px;
  position: absolute;
  right: 5px;
  top: 4px;
  z-index: 2;
  padding: var(--space-3xs);
  width: 35px;
  height: 35px;
  place-content: center;
  background: var(--background-darker);
  fill: var(--text-default);
}

.gameCard:hover,
.gameCard:focus-within {
  transform: scale(1.05);
}

.gameCard.hidden .gameImg,
.gameCard.hidden .gameLogo {
  opacity: 0.2;
}

.gameCard.notAvailable .gameImg.installed,
.gameCard.notAvailable .gameLog.installed {
  filter: sepia(100%);
  opacity: 0.7;
}

.gameCard .runner {
  display: none;
}

.gameListItem {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-areas: 'link action';
  align-items: center;
  position: relative;
  cursor: default;
  place-self: center;
  margin: 0 var(--space-xl-fixed) var(--space-xs-fixed);
  padding: var(--space-xs-fixed) 0;
  border-bottom: 1px solid gray;
}

.gameListItem > a > * {
  transition: 300ms;
}

.gameListItem > a {
  grid-area: link;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-areas: 'name infos runner';
  overflow: hidden;
  align-items: center;
  justify-items: baseline;
}

.gameListItem .runner {
  grid-area: runner;
}

.gameListItem .gameImg,
.gameListItem .store-icon,
.gameListItem .gameLogo {
  display: none;
}

.gameListItem .gameListInfo {
  font-size: var(--text-md);
  grid-area: infos;
}

.gameListItem .gameTitle {
  grid-area: name;
  font-size: var(--text-md);
  padding-right: var(--space-md-fixed);
  text-align: left;
}

.gameListItem .installed {
  color: var(--accent);
  font-weight: var(--bold);
}

.gameListItem .active {
  color: var(--success);
}

.gameListItem > a:hover,
.gameListItem > a:focus-within {
  color: var(--accent-overlay);
}

.gameListItem .gameTitle span {
  display: inline;
}

.gameListItem > .icons {
  padding: 0px var(--space-2xs-fixed);
  grid-area: action;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'update settings play';
}

.gameListItem > .progress {
  display: none;
}

.gameListItem > .progress > svg {
  position: relative;
  bottom: 0;
  top: 0;
}

.progress > svg {
  cursor: pointer;
  z-index: 7;
}

.gameImg,
.gameLogo {
  transition: all 0.2s, opacity 0.5s;
}

.gameImg:not(.installed),
.gameLogo:not(.installed) {
  filter: grayscale(var(--installing-effect));
}

.gameCard:hover .gameImg:not(.installed),
.gameCard:hover .gameLogo:not(.installed),
.gameImg.allTilesInColor,
.gameLogo.allTilesInColor {
  filter: grayscale(0);
}

.icons {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 4;
  padding: var(--space-md-fixed);
  transition: 300ms;
}

.icons > button > svg,
.icons > a > svg,
.icons > svg {
  height: clamp(28px, 1vw, 36px);
  aspect-ratio: 1;
  display: block;
}

.playIcon,
.downIcon,
.iconDisabled,
.queueIcon,
.cancelIcon {
  grid-area: play;
}

.playIcon circle {
  fill: var(--success);
  transition: 300ms;
}

.playIcon:hover circle {
  fill: var(--success-hover);
  transition: 300ms;
}

.downIcon circle {
  fill: var(--accent);
  transition: 300ms;
}

.downIcon:hover circle {
  fill: var(--accent-overlay);
  transition: 300ms;
}

.cancelIcon svg {
  fill: var(--danger);
  transition: 300ms;
}

.queueIcon svg {
  fill: var(--background-lighter);
  font-size: 40px;
}

.iconDisabled circle,
.svg-button[disabled] circle {
  fill: var(--icon-disabled);
}

.iconDisabled > * {
  cursor: initial;
}

.updateIcon {
  grid-area: update;
}

.updateIcon svg {
  color: var(--accent);
  transition: 300ms;
}

.updateIcon:hover svg {
  color: var(--accent-overlay);
  transition: 300ms;
}

.settingsIcon {
  fill: var(--accent-overlay);
  transition: 300ms;
  grid-area: settings;
}

.settingsIcon:focus-within,
.settingsIcon:hover {
  fill: var(--accent);
  transition: 300ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
