.gameRequirements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
  user-select: text;
  width: 100%;
}

.gameRequirements__title {
  margin: 0 0 16px;
  font-size: var(--title-sm);
  font-weight: var(--semibold);
  color: var(--text-default);
  text-align: start;
  text-transform: capitalize;
}
