.contextMenu > .MuiPaper-root {
  background: var(--navbar-background);
}

.contextMenu > .MuiPaper-root > .MuiMenu-list {
  background: var(--navbar-background);
  color: var(--accent);
  border-radius: 10px;
}

.contextMenu > .MuiPaper-root > .MuiMenu-list > .MuiMenuItem-root {
  font-family: var(--primary-font-family);
}

.contextMenu > .MuiPaper-root > .MuiMenu-list > .MuiMenuItem-root:hover {
  text-decoration: none;
  background-color: var(--navbar-active-background);
}
