.Links {
  font-size: 18.5px;
  font-weight: 400;
  height: fit-content;
  font-family: 'Rubik', sans-serif;
  flex-direction: column;
  display: flex;
  grid-area: links;
  text-align: left;
  padding-top: var(--sidebar-vertical-padding);
}

.subItem {
  font-size: 14px;
  cursor: pointer;
  padding-left: 40px;
  line-height: 28px;
  white-space: break-spaces;
}

.subItem:hover {
  transition: 250ms;
  color: var(--download-button);
}

.subItem::before {
  content: '- ';
}

.subItem.selected {
  color: var(--download-button);
  font-weight: 700;
}

.sidebar .UserSelector {
  grid-area: user;
}

.Links > a:hover {
  transition: 250ms;
  color: var(--text-hover);
}

.Links svg {
  padding-right: 6px;
}
