.gamePicture {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

.gamePicture::after {
  content: '';
  display: block;
  position: absolute;
  right: 0%;
  top: 0px;
  height: 100%;
  width: 100%;
  --gradient-angle: 90deg;
  background: linear-gradient(
      var(--gradient-angle),
      rgba(0, 0, 0, 0),
      var(--background-darker) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0) 89%, var(--background-darker) 100%);
}

.isRTL .gamePicture::after {
  --gradient-angle: 270deg;
}

.gamePicture > .gameImg {
  height: 100%;
  width: 100%;
  border-radius: 0;
  object-fit: cover;
}

.gamePicture > .gameLogo {
  position: absolute;
  bottom: 0;
  width: 70%;
  min-width: 140px;
}
