.downloadManagerListItem > .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  align-self: center;
  flex-wrap: wrap;
}

.downloadManagerListItem > .icons > .material-icons.settings.folder {
  position: initial;
}

.downloadManagerListItem > .icons > a > svg,
.downloadManagerListItem > .icons > svg {
  width: min(calc(1vw + 9px), 36px);
  height: min(calc(1vw + 9px), 36px);
  min-width: 22px;
  min-height: 22px;
  margin-inline-start: 12px;
}

.downloadManagerListItem .cancelIcon circle {
  fill: var(--cancel-button, var(--danger));
}

.downloadManagerListItem .cancelIcon:hover circle {
  fill: var(--cancel-button-hover, var(--danger-hover));
}

.downloadManagerListItem .playIcon circle {
  fill: var(--brand-secondary, var(--success));
}

.downloadManagerListItem .playIcon:hover circle {
  fill: var(--brand-primary, var(--success-hover));
}

.downloadManagerListItem .installIcon circle {
  fill: var(--install-button, var(--accent));
}

.downloadManagerListItem .installIcon:hover circle {
  fill: var(--install-button-hover, var(--accent-overlay));
}

.downloadManagerListItem {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 10%;
  grid-template-areas: 'name store platform action';
  margin: 0 var(--space-sm-fixed);
  align-items: center;
  justify-items: baseline;
  position: relative;
  cursor: default;
  place-self: center;
  border-top: 1px solid var(--divider);
  padding: var(--space-md) 0;
}

.downloadManagerListItem:hover {
  background-color: var(--background-hover);
}

.downloadManagerTitleList {
  grid-area: name;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: start;
}

.titleSize {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.titleSize span {
  font-size: 12px;
  color: var(--text-secondary);
}

.downloadManagerTitleList > img {
  width: var(--space-2xl-fixed);
  margin-inline-end: var(--space-md-fixed);
}

.downloadManagerListItem > a {
  grid-area: cover;
  max-width: 15vh;
  width: 100%;
  height: 100%;
}

.downloadManagerListItem > .icons > button {
  margin-inline-start: 0;
  padding-inline-start: 4px;
}

.downloadManagerListItem > .progress {
  z-index: 5;
  grid-area: cover;
  font-weight: 500;
  background: var(--background-gradient);
  padding: 2px 5px;
  border-radius: 4px;
  color: var(--success);
  position: relative;
  bottom: -38px;
  left: -38px;
  color: var(--success);
  font-family: var(--actions-font-family);
  font-style: italic;
  font-weight: normal;
  line-height: 12px;
}

.downloadManagerListItem > .progress > .MuiSvgIcon-root {
  position: relative;
  bottom: 0;
  top: 0;
}

.react-contextmenu--visible {
  background-color: var(--background);
  padding: 14px 22px;
  border-radius: 6px;
  z-index: 99;
}

.react-contextmenu-item {
  color: var(--text-default);
  font-size: 14px;
  line-height: 26px;
  font-family: var(--actions-font-family);
  cursor: pointer;
  text-align: start;
}

.react-contextmenu-item:hover {
  color: var(--download-button);
}

.react-contextmenu-item.disabled {
  color: var(--icon-disabled);
  cursor: initial;
}

.downloadManagerListItem span:nth-child(3) {
  text-transform: capitalize;
}

.downloadManagerTitleList > img {
  aspect-ratio: 16/9;
  object-fit: cover;
}
