.modalContainer {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 6;
}

.backdrop {
    display: grid;
    place-items: center;
    position: fixed;
    top: 76px;
    background: var(--background-darker-80);
    width: 100%;
    height: 100%;
    z-index: 6;
}

.modal {
    display: grid;
    place-items: center;
    min-width: fit-content;
    background: var(--background-darker);
    border-radius: 10px;
    width: 48vw;
    max-width: 560px;
    z-index: 7;
    padding: 32px;
    height: fit-content;
    min-height: 225px;
    border: solid 1px var(--background);
}

.title {
    color: var(--text-primary);
    place-self: center;
    font-family: Cabin;
    font-size: 24px;
    margin: -10px 16px 0 16px;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 16px;
}

.installInfo {
    margin: 16px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.installInfo>.itemContainer {
    place-content: center;
    text-align: initial;
    width: 20vw;
    min-width: fit-content;
    max-width: 290px;
    margin: 12px;
}

.itemTitle {
    font-weight: 700;
    text-align: center;
}

.dlcTitle {
    font-weight: 700;
}

.MuiIconButton-colorPrimary,
.MuiCheckbox-colorPrimary.Mui-checked {
    color: var(--secondary)
}