.sideloadDialog {
  width: 800px;
  max-width: 100%;
  height: calc(100vh - 160px);
  overflow: hidden;

  .stepContentRenderer {
    height: 100%;
    padding-bottom: 32px;
    overflow: auto;
  }

  .MuiStepLabel-label,
  .MuiStepLabel-label.Mui-completed {
    color: var(--text-default);
  }

  .MuiStepLabel-label.Mui-active {
    color: var(--accent);
  }
}

.sideloadStepper {
  margin: 0 16px 16px;
}

.sieloadMetadataForm {
  height: 100%;
  padding: var(--space-md);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sideloadImagesForm {
  padding: var(--space-md);
}

.sideloadImages {
  display: grid;
  padding: var(--space-md);
  gap: var(--space-md);
  grid-template-columns: 180px 400px;
  align-items: center;
  justify-content: center;

  .appImageContainer {
    position: relative;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid var(--neutral-02);
    transition: 200ms;

    &.hasSgdbKey:hover {
      border-color: var(--primary);
      transform: scale(1.02);

      .imageHoverOverlay {
        opacity: 1;
      }

      .appImage {
        filter: blur(2px) brightness(0.7);
      }
    }

    &.searching,
    &.loading {
      cursor: default;

      .appImage {
        filter: blur(2px) brightness(0.5) grayscale(100%);
      }
    }
  }

  .appImage {
    aspect-ratio: 3 / 4;
    object-fit: cover;
    display: block;
    width: 100%;
    transition: 200ms;

    &.heroImage {
      aspect-ratio: 1600 / 650;
    }
  }

  .heroImageContainer {
    width: 100%;
    margin-bottom: var(--space-md);
  }

  .imageLoadingOverlay,
  .imageHoverOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    transition: 200ms;
    color: white;
    pointer-events: none;
  }

  .imageLoadingOverlay {
    opacity: 1;
  }

  .imageHoverOverlay {
    opacity: 0;
  }
}

.Dialog__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .sideloadFooterMetadata {
    padding: 0 var(--space-md);
  }

  .sideloadFooterButtons {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
  }
}
