.sideloadGrid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 3fr;

  .textInputFieldWrapper.Field .selectFieldWrapper.Field {
    margin: 0 var(--space-xs);
  }

  .imageIcons {
    margin-block: var(--space-lg) 0;
    margin-inline: 0 var(--space-lg);
    width: min-content;
  }

  .appImage {
    margin-bottom: var(--space-md);
    aspect-ratio: 3 / 4;
    object-fit: cover;
    display: block;
    width: 210px;
    transition: 200ms;
    border: 3px solid var(--neutral-02);
    border-radius: 10px;

    &.blackWhiteImage {
      filter: grayscale(100%);
      transition: 200ms;
    }
  }

  .titleIcon {
    word-break: break-word;
    display: flex;
    justify-content: space-between;
  }
}
