.sideloadGrid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: min-content 1fr;

  .textInputFieldWrapper.Field .selectFieldWrapper.Field {
    margin: 0 var(--space-xs);
  }

  .imageIcons {
    margin-block: var(--space-lg) 0;
    margin-inline: 0 var(--space-lg);
    width: auto;
  }

  .appImageContainer {
    position: relative;
    cursor: pointer;
    margin-bottom: var(--space-md);
    width: 210px;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid var(--neutral-02);
    transition: 200ms;

    &.hasSgdbKey:hover {
      border-color: var(--primary);
      transform: scale(1.02);

      .imageHoverOverlay {
        opacity: 1;
      }

      .appImage {
        filter: blur(2px) brightness(0.7);
      }
    }

    &.searching,
    &.loading {
      cursor: default;

      .appImage {
        filter: blur(2px) brightness(0.5) grayscale(100%);
      }
    }
  }

  .appImage {
    aspect-ratio: 3 / 4;
    object-fit: cover;
    display: block;
    width: 100%;
    transition: 200ms;
  }

  .imageLoadingOverlay,
  .imageHoverOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    transition: 200ms;
    color: white;
    pointer-events: none;
  }

  .imageLoadingOverlay {
    opacity: 1;
  }

  .imageHoverOverlay {
    opacity: 0;
  }

  .titleIcon {
    word-break: break-word;
    display: flex;
    justify-content: space-between;
  }
}
