.gameCard {
  background-color: var(--background-darker);
  text-align: left;
  width: clamp(130px, 8vw, 200px);
  height: 10vw;
  max-height: 266px;
  min-height: 173px;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  transition-duration: 0.5s;
}

.gameCard:focus-within {
  outline: -webkit-focus-ring-color auto 1px;
}

.gameCard > .status {
  position: absolute;
  z-index: 5;
  top: 15px;
  left: 13px;
  font-weight: 600;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 2.4%,
    rgba(20, 21, 21, 0.863) 30%
  );
  padding: 2px 5px;
  border-radius: 4px;
  color: var(--success);
}

.gameCard > .progress {
  position: absolute;
  z-index: 5;
  bottom: 5px;
  left: 5px;
  color: var(--success);
  font-family: Rubik;
  font-style: italic;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  width: fit-content;
  max-width: 96px;
  word-wrap: break-word;
  padding: 2px;
  background: var(--background-gradient);
  border-radius: 4px;
}
.gameCard > .progress svg {
  color: var(--success);
  height: 20px;
}

.gameCard > a {
  display: block;
  position: relative;
}

.gameCard .gameImg {
  width: clamp(130px, 8vw, 200px);
  height: clamp(173px, 10vw, 266px);
  object-fit: cover;
  border-radius: 0.5rem;
}

.gameCard .gameLogo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: min(70px, 7vw, 60%);
}

.gameCard .gameListInfo {
  display: none;
}

.gameCard .gameTitle {
  position: absolute;
  width: 100%;
  bottom: -92px;
  padding: 0.3vw;
  color: var(--text-secondary);
  display: flex;
  background: var(--background-gradient);
  transition: 200ms;
  font-family: Cabin;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: var(--text-default);
  height: clamp(80px, 4vw, 85px);
  cursor: pointer;
  z-index: 3;
  pointer-events: none;
  backdrop-filter: blur(4px);
}

.gameCard > .icons {
  opacity: 0;
  position: absolute;
  bottom: 0px;
}

.gameCard:hover > .icons,
.gameCard:focus-within > .icons {
  opacity: 1;
}

.gameCard:hover > .gameTitle,
.gameCard:focus-within > .gameTitle {
  bottom: 0;
}

.gameCard:hover > .gameTitle > span,
.gameCard:focus-within > .gameTitle > span {
  display: block;
}

.gameCard:hover > .progress,
.gameCard:focus-within > .progress {
  background: none;
}

.gameListItem {
  display: grid;
  grid-template-columns: 2fr 1fr 6fr 1fr;
  grid-template-areas: 'cover infos name action';
  align-items: center;
  position: relative;
  cursor: default;
  place-self: center;
  margin: 0 2rem 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gray;
}

.gameListItem > a {
  grid-area: cover;
  position: relative;
  max-width: 15vh;
  max-height: 8vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gameListItem .gameImg {
  width: 100%;
  height: auto;
  grid-area: cover;
  border-radius: 0.5rem;
  contain: content;
  cursor: pointer;
}

.gameListItem .gameLogo {
  width: min(45px, 3vw);
  position: absolute;
  grid-area: cover;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.gameListItem .gameListInfo {
  font-size: 1em;
  grid-area: infos;
}

.gameListItem .gameTitle {
  grid-area: name;
  font-size: 1em;
}

.gameListItem .gameTitle span {
  display: inline;
}

.gameListItem > .icons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 47px;
  height: 100%;
  padding: 0 6px;
}

.gameListItem > .progress {
  z-index: 6;
  grid-area: cover;
  font-weight: 500;
  background: var(--background-gradient);
  padding: 2px 5px;
  border-radius: 4px;
  color: var(--success);
  font-family: Rubik;
  font-style: italic;
  font-weight: normal;
  line-height: 12px;
  align-self: end;
  font-size: 1.3vh;
  justify-self: baseline;
}

.gameListItem > .progress > svg {
  position: relative;
  bottom: 0;
  top: 0;
}

.progress > svg {
  cursor: pointer;
  z-index: 7;
}

.gameImg:not(.installed),
.gameLogo:not(.installed) {
  filter: grayscale(var(--installing-effect));
}

.gameImg:hover:not(.installed),
.gameLogo:hover:not(.installed) {
  filter: grayscale(0);
  transition-duration: 0.2s;
}

.icons {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 4;
  padding: 6px;
  margin-right: 4px;
  transition: 300ms;
}

.icons > button > svg,
.icons > a > svg,
.icons > svg {
  width: clamp(22px, calc(1vw + 9px), 36px);
  height: clamp(22px, calc(1vw + 9px), 36px);
  display: block;
}
.icons > .svg-button {
  margin-left: 12px;
}

.playIcon > circle {
  fill: var(--success);
}

.downIcon > circle {
  fill: var(--accent);
}

.cancelIcon > circle {
  fill: var(--danger);
}

.iconDisabled circle {
  fill: var(--icon-disabled);
}

.iconDisabled > * {
  cursor: initial;
}
