.gameCard {
  background-color: var(--background-secondary);
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(130px, 8vw, 200px);
  height: 10vw;
  max-height: 266px;
  min-height: 173px;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
}

.gameCard > .progress {
  position: absolute;
  z-index: 5;
  top: 15px;
  left: 13px;
  font-weight: 600;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 2.4%,
    rgba(20, 21, 21, 0.863) 30%
  );
  padding: 2px 5px;
  border-radius: 4px;
  color: var(--success);
}

.gameCard > a > .gameImg {
  width: 8vw;
  height: 10vw;
  max-width: 200px;
  max-height: 266px;
  min-width: 130px;
  min-height: 173px;
  object-fit: cover;
  position: absolute;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
}

.gameTitle {
  position: absolute;
  bottom: -92px;
  height: 92px;
  width: 100%;
  padding: 0.3vw;
  color: #e4deea;
  display: flex;
  background-color: var(--background-transparent-62);
  transition: 200ms;
  font-family: Cabin;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: var(--text-primary);
}

.gameTitle > span {
  bottom: 0;
  display: none;
  z-index: 3;
}

.icons {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 5;
  padding: 6px;
}

.gameList > .gameCard > .icons {
  background-color: var(--background-transparent);
}

.icons > a > svg,
.icons > svg {
  width: min(calc(1vw + 9px), 36px);
  height: min(calc(1vw + 9px), 36px);
  min-width: 22px;
  min-height: 22px;
}

.gameCard:hover > .gameTitle {
  bottom: 0;
  z-index: 3;
  cursor: pointer;
}

.gameCard:hover > .gameTitle  > span{
  display: block;
}

.gameCard .gameTitle span {
  flex-grow: 1;
}

.gameImg {
  width: 210px;
  height: 280px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.gameListItem {
  display: grid;
  grid-template-columns: 2fr 1fr 6fr 1fr;
  grid-template-areas: 'cover infos name action';
  height: 8vh;
  margin: 1em;
  align-items: center;
  justify-items: center;
  position: relative;
  cursor: default;
  width: 95%;
  place-self: center;
}

.gameImgList {
  max-width: 15vh;
  height: inherit;
  width: inherit;
  grid-area: cover;
  border-radius: 0.5rem;
  contain: content;
  cursor: pointer;
  display: block;
}

.gameListItem > .gameLogo {
  width: 3vw;
  min-width: 45px;
  position: absolute;
  z-index: 2;
  grid-area: cover;
}

.gameImgList > .gameLogo {
  width: 45%;
  min-width: 60px;
  position: relative;
  top: 25px;
  z-index: 2;
}

.gameTitleList {
  grid-area: name;
  font-size: 1em;
}

.gameListItem > a {
  grid-area: cover;
  max-width: 15vh;
  width: 100%;
  height: 100%;
}

.gameListItem > .icons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 120px;
}

.gameListItem > .progress {
  z-index: 5;
  grid-area: cover;
  font-weight: 500;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 2.4%,
    rgba(20, 21, 21, 0.863) 30%
  );
  padding: 2px 5px;
  border-radius: 4px;
  color: var(--success);
  position: relative;
  bottom: 28px;
  left: -52px;
}

.gameListInfo {
  font-size: 1em;
  grid-area: infos;
}

.gameImg > .gameLogo {
  width: min(7vw, 60%);
  position: relative;
  top: 35%;
  min-width: 79px;
  z-index: 2;
  left: 21%;
}
