.offline-message {
  background: var(--accent-overlay);
  padding: 0.5rem;
  color: var(--text-tertiary);
  display: grid;
  position: relative;
}

.offline-message span,
.offline-message button {
  grid-row: 1;
  grid-column: 1;
}

.offline-message button {
  justify-self: flex-end;
  align-self: flex-end;
  background: var(--accent-overlay);
  border: transparent;
}

.offline-message .retry-hint {
  display: none;
  position: absolute;
  top: 100%;
  right: 0px;
  width: 400px;
  z-index: 100;
  background: var(--accent-overlay);
  padding: 1rem;
  border: transparent;
}

.offline-message .hint-hover:hover + .retry-hint {
  display: block;
}
