.log-buttongroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.log-buttons {
  margin-right: 10px;
  min-width: 40px;
}

.log-box {
  background-color: #1e1e1e;
  border-radius: 10px;
  max-height: 25em;
  overflow: hidden;
}

.log-box:hover {
  overflow: auto;
}

.log-error,
.log-warning,
.log-info {
  text-align: left;
  margin: 0px 10px 0px 10px;
}

.log-error {
  color: #c18672;
}

.log-warning {
  color: #f5cf69;
}

.log-info {
  color: rgb(175, 172, 172);
}
