.loginPage {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.loginBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../../assets/login-background-1536x864.jpg');
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
}

.loginContentWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.runnerList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  user-select: none;
  width: 100%;
  flex-wrap: wrap;
}

.continueLogin {
  position: relative;
  font-family: var(--font-primary-bold);
  top: 20%;
  background-color: var(--input-background);
  color: var(--success);
  border: none;
  font-size: 30px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.continueLogin:hover {
  color: var(--text-tertiary);
  background-color: var(--success);
}

.continueLogin.disabled {
  color: var(--danger);
  opacity: 0.8;
  cursor: default;
}
