.toggleSwitchWrapper {
  display: grid;
  grid-template-areas: 'check text';
  grid-template-columns: min-content 1fr;
  align-items: center;
  cursor: pointer;
}

.toggleSwitchWrapper input {
  grid-area: check;
  margin-inline-start: 13px;
}

/* add fake checkbox */
.toggleSwitchWrapper:after {
  content: '';
  display: inline-block;
  margin-inline-start: 13px;
  margin-inline-end: 0.5rem;
  width: 20px;
  height: 20px;
  transition: 350ms;
  border: 3px solid var(--accent);
  border-radius: 2px;
  grid-area: check;
  color: var(--background);
  background: var(--background);
  font-size: 1.5rem;
  line-height: 1.2rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

.toggleSwitchWrapper.checked:after {
  content: '\2713';
  background: var(--accent);
}

.toggleSwitchWrapper span {
  align-self: center;
  justify-self: flex-start;
  transition: 350ms;
  color: var(--text-default);
}

.toggleSwitchWrapper:hover span {
  transition: 350ms;
  color: var(--accent);
}

.toggleSwitchWrapper.checked + span {
  font-weight: 700;
  color: var(--accent);
}

.checkmark:focus-visible {
  outline: 1px solid var(--download-button);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
  width: 3px;
  height: 8px;
  margin-inline-start: 3px;
  padding-inline-start: 0.5px;
  padding-block-end: 0.5px;
  bottom: 2.5px;
  border: solid var(--body-background);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
