body.newDark {
  --background: var(--neutral-02);
  --background-darker: var(--neutral-01);
  --background-darker-80: var(--eighty-percent);
  --background-lighter: var(--neutral-03);
  --background-hover: rgb(20 20 20 / 47%);
  --background-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 2.4%,
    #0d0f1cd2 64%
  );

  --button-stroke: var(--stroke-accent);
  --primary-button: var(--gradient-01);
  --secondary-button: var(--brand-primary);
  --secondary-button-overlay: var(--primary-hover);
  --tertiary-button: var(--status-warning);
  --tertiary-button-overlay: var(--status-warning-hover);
  --success-button: var(--gradient-01);
  --disabled-button: var(--neutral-04);
  --disabled-button-overlay: var(--neutral-05);
  --cancel-button: var(--status-danger);
  --cancel-button-overlay: var(--status-danger-hover);

  --play-button: var(--primary-button);
  --install-button: var(--secondary-button);

  --text-default: var(--brand-text-01);
  --text-tertiary: var(--neutral-01);

  --search-bar-background: var(--neutral-01);
  --search-bar-border: var(--neutral-02);

  /* Colours */
  --accent: var(--brand-secondary);
  --accent-overlay: var(--brand-primary);
  --body-background: var(--background-darker);
  --controller-hints-background: transparent;
  --current-background: var(--body-background);
  --danger: var(--status-danger);
  --danger-hover: var(--status-danger-hover);
  --divider: gray;

  --danger: var(--status-danger);

  --icon-disabled: var(--disabled-button);
  --icon-disabled-overlay: var(--disabled-button-overlay);
  --icons-background: var(--neutral-02);
  --input-background: var(--background-lighter);
  --link-highlight: #07c5ef;

  --modal-background: var(--background-darker);
  --modal-backdrop: var(--background-darker-80);
  --modal-border: #1f253f;

  --navbar-active: var(--brand-primary);
  --navbar-inactive: var(--neutral-05);
  --navbar-active-background: var(--background-darker);
  --navbar-accent: var(--text-default);
  --navbar-background: var(--background);

  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);

  --primary: var(--brand-primary);

  --primary-hover: #4cdafa;
  --scrollbar-thumb: #ffffff33;
  --stop-button: var(--cancel-button);
  --secondary: var(--brand-secondary);
  --success: var(--status-success);
  --success-hover: var(--status-success-hover);
  --text-hover: var(--brand-text-02);

  --anticheat-denied: var(--status-danger);
  --anticheat-broken: var(--status-warning);
  --anticheat-running: var(--status-default);
  --anticheat-supported: var(--status-success);
  --anticheat-planned: var(--status-info);

  /* Gradients */
  --gradient-welcome: linear-gradient(#13172a 100%, #13172a 89%, #13172a 0%);
  --gradient-big-game-menu: linear-gradient(
    #13172a 100%,
    #1d1f1f 31.77%,
    #1d1f1f 0%
  );
  --gamecard-title-color: #17131cd2;
  --gradient-gamecard: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 1.8%,
    var(--gamecard-title-color) 45%
  );
  --gradient-game-hover: linear-gradient(#000000 30.8%, #141515 77%);
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --gradient-primary-button: linear-gradient(
    180deg,
    #0cd58c 7.29%,
    #00a98b 93.23%
  );
  --gradient-secondary-button: linear-gradient(
    180deg,
    #18d5ff 5.73%,
    rgba(38, 142, 226, 0.930182) 94.79%
  );
}

body.cyberpunk {
  --background: #151f3d;
  --background-darker: #0d0f1c;
  --background-darker-80: #0d0f1ce0;
  --background-secondary: #323035;
  --background-lighter: #152f6d;
  --background-hover: rgb(20 20 20 / 47%);
  --background-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 2.4%,
    #0d0f1cd2 64%
  );

  /* Colours */
  --navbar-background: var(--background);
  --input-background: var(--background-darker);
  --body-background: #13172a;
  --current-background: var(--body-background);
  --modal-background: #13172a;
  --modal-border: #1f253f;
  --modal-backdrop: #00000074;
  --text-hover: #59d0ea;
  --primary: #07c5ef;
  --primary-hover: #4cdafa;
  --link-highlight: #07c5ef;
  --accent: #eaa114;
  --accent-overlay: #ffbb33;
  --navbar-accent: var(--accent);
  --navbar-active-background: var(--background-lighter);
  --play-button: #59d0ea;
  --download-button: #3082d9;
  --download-button-overlay: #1372d7;
  --stop-button: #252121;
  --scrollbar-thumb: #ffffff33;
  --favourite-active: #97f4e9;
  --favourite-inactive: #eae8e5;
  --danger: #bd0a0a; /* These success, danger and disabled colours need to be documented */
  --success: #0bd58c;
  --success-hover: #30eca8;
  --danger-hover: #e43f3f;
  --icon-disabled: #625e69;
  --icons-background: #17131c;
  --divider: gray;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);
  --controller-hints-background: transparent;

  --anticheat-denied: var(--danger);
  --anticheat-broken: #e8590c;
  --anticheat-running: #0e8598;
  --anticheat-supported: #2f9e44;
  --anticheat-planned: #6841d9;

  /* Gradients */
  --gradient-welcome: linear-gradient(#13172a 100%, #13172a 89%, #13172a 0%);
  --gradient-big-game-menu: linear-gradient(
    #13172a 100%,
    #1d1f1f 31.77%,
    #1d1f1f 0%
  );
  --gamecard-title-color: #17131cd2;
  --gradient-gamecard: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 1.8%,
    var(--gamecard-title-color) 45%
  );
  --gradient-game-hover: linear-gradient(#000000 30.8%, #141515 77%);
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  /* Text colours */
  --text-default: #eae8e5;
  --text-secondary: #b1b1b1;
  --text-pause-cancel: #97f4e9;
  --text-title: #ffffff;
  --text-tertiary: #101111; /* This is not defined in figma */
  --text-quartenary: #5a5e5f; /* this is meant to be a background colour */
  --text-danger: #d22121;
  --text-gametitle: var(--text-default);
  --text-log: #f5cf69;
  --text-warning: #eaa114;

  /*Action Icons*/
  --action-icon: var(--text-default);
  --action-icon-hover: var(--text-hover);
  --action-icon-active: var(--accent);
}

body.dracula,
body.dracula-classic {
  --accent: #bd93f9;
  --accent-overlay: #d5b8ff;
  --navbar-accent: #eae8e5;
  --background: #090b1c;
  --body-background: #282a35;
  --background-darker: var(--body-background);
  --current-background: var(--body-background);
  --navbar-background: #44475a;
  --navbar-active-background: #282a36;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #44475a;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --download-button: #44475a;
  --download-button-overlay: #1372d7;
  --success: #50fa7b;
  --success-hover: #3be666;
  --primary: #ff79c6;
  --primary-hover: #f560b4;
  --danger: #ff5555;
  --text-title: #8be9fd;
  --icons-background: #17131c;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);
  --action-icon: var(--text-default);
  --action-icon-hover: var(--text-hover);
  --action-icon-active: var(--accent);
}

body.nord-light {
  --accent: #88c0d0;
  --accent-overlay: #81a1c1;
  --navbar-accent: #81a1c1;
  --background: #eceff4;
  --body-background: var(--background);
  --background-darker: var(--body-background);
  --current-background: var(--body-background);
  --navbar-background: #4c566a;
  --navbar-active-background: #2e3440;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #d8dee9;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --success: #a3be8c;
  --success-hover: #8faf74;
  --primary: #b48ead;
  --primary-hover: #a17399;
  --danger: #bf616a;
  --text-log: #f7b32a;
  --text-title: #2e3440;
  --text-default: var(--text-title);
  --text-secondary: #868b95;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);
  --action-icon: #748aa0;
  --action-icon-hover: var(--accent);
  --action-icon-active: var(--text-default);
}

body.nord-light .alternative > svg {
  fill: var(--accent) !important;
}

body.nord-dark {
  --accent: #88c0d0;
  --accent-overlay: #bdeaf7;
  --navbar-accent: #5d6a82;
  --background: #191c22;
  --body-background: var(--background);
  --background-darker: var(--body-background);
  --current-background: var(--body-background);
  --navbar-background: #2e3440;
  --navbar-active-background: #191c22;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #2e3440;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --success: #94f1ab;
  --success-hover: #75e08f;
  --primary: #b48ead;
  --primary-hover: #a17399;
  --danger: #bf616a;
  --text-log: #f7b32a;
  --text-title: #e5e9f0;
  --text-default: var(--text-title);
  --text-secondary: #e5e9f0;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);
  --action-icon: #748aa0;
  --action-icon-hover: var(--accent-overlay);
  --action-icon-active: var(--text-default);
}

body.marine,
body.marine-classic {
  --accent: #00b0ff;
  --accent-overlay: #5dc6f7;
  --background: #042028;
  --body-background: #042028;
  --background-darker: #042028;
  --current-background: var(--body-background);
  --navbar-background: #036986;
  --navbar-active-background: #042028;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #063442;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --success: #98f2ff;
  --success-hover: #5dc6f7;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);
  --action-icon: var(--text-default);
  --action-icon-hover: var(--text-hover);
  --action-icon-active: var(--accent);
}

body.zombie,
body.zombie-classic {
  --accent: #59c627;
  --accent-overlay: #83da5b;
  --navbar-accent: var(--accent);
  --background: #1d1f1f;
  --body-background: var(--background);
  --background-darker: var(--body-background);
  --current-background: var(--body-background);
  --navbar-background: #323232;
  --navbar-active-background: #1d1f1f;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #323232;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --success: #1bd01a;
  --success-hover: #5af15a;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: #434343;
  --action-icon: var(--text-default);
  --action-icon-hover: var(--text-hover);
  --action-icon-active: var(--accent);
}

body.old-school {
  --accent: #ffa800;
  --accent-overlay: #ffc44f;
  --navbar-accent: #eae8e5;
  --background: #1d1f1f;
  --body-background: #1d1f1f;
  --background-darker: #1d1f1f;
  --current-background: var(--body-background);
  --navbar-background: #323232;
  --navbar-active-background: #1d1f1f;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #323232;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --success: #0bd48c;
  --success-hover: #28f028;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: #434343;
  --action-icon: var(--text-default);
  --action-icon-hover: var(--text-hover);
  --action-icon-active: var(--accent);
}
body.classic .sid-input,
body.old-school .sid-input {
  background: var(--background);
}

body.classic,
body.dracula-classic,
body.marine-classic,
body.zombie-classic {
  --navbar-accent: var(--text-default);
}
