body.dracula,
body.dracula-classic {
  --accent: #bd93f9;
  --accent-overlay: #d5b8ff;
  --navbar-accent: #eae8e5;
  --background: #090b1c;
  --body-background: #282a35;
  --background-darker: var(--body-background);
  --current-background: var(--body-background);
  --navbar-background: #44475a;
  --navbar-active-background: #282a36;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #44475a;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --download-button: #44475a;
  --download-button-overlay: #1372d7;
  --success: #50fa7b;
  --success-hover: #3be666;
  --primary: #ff79c6;
  --primary-hover: #f560b4;
  --danger: #ff5555;
  --text-title: #8be9fd;
  --icons-background: #17131c;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);
  --action-icon: var(--text-default);
  --action-icon-hover: var(--text-hover);
  --action-icon-active: var(--accent);
}

body.nord-light {
  --accent: #88c0d0;
  --accent-overlay: #81a1c1;
  --navbar-accent: #81a1c1;
  --background: #eceff4;
  --body-background: var(--background);
  --background-darker: var(--body-background);
  --current-background: var(--body-background);
  --navbar-background: #4c566a;
  --navbar-active-background: #2e3440;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #d8dee9;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --success: #a3be8c;
  --success-hover: #8faf74;
  --primary: #b48ead;
  --primary-hover: #a17399;
  --danger: #bf616a;
  --text-log: #f7b32a;
  --text-title: #2e3440;
  --text-default: var(--text-title);
  --text-secondary: #868b95;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);
  --action-icon: #748aa0;
  --action-icon-hover: var(--accent);
  --action-icon-active: var(--text-default);
}

body.nord-dark {
  --accent: #88c0d0;
  --accent-overlay: #bdeaf7;
  --navbar-accent: #5d6a82;
  --background: #191c22;
  --body-background: var(--background);
  --background-darker: var(--body-background);
  --current-background: var(--body-background);
  --navbar-background: #2e3440;
  --navbar-active-background: #191c22;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #2e3440;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --success: #94f1ab;
  --success-hover: #75e08f;
  --primary: #b48ead;
  --primary-hover: #a17399;
  --danger: #bf616a;
  --text-log: #f7b32a;
  --text-title: #e5e9f0;
  --text-default: var(--text-title);
  --text-secondary: #e5e9f0;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);
  --action-icon: #748aa0;
  --action-icon-hover: var(--accent-overlay);
  --action-icon-active: var(--text-default);
}

body.marine,
body.marine-classic {
  --background: #042028;
  --body-background: #042028;
  --background-darker: #042028;
  --current-background: var(--body-background);
  --navbar-background: #036986;
  --navbar-active-background: #042028;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #063442;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --success: #98f2ff;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);
  --action-icon: var(--text-default);
  --action-icon-hover: var(--text-hover);
  --action-icon-active: var(--accent);
}

body.zombie,
body.zombie-classic {
  --accent: #59c627;
  --accent-overlay: #83da5b;
  --navbar-accent: var(--accent);
  --background: #1d1f1f;
  --body-background: var(--background);
  --background-darker: var(--body-background);
  --current-background: var(--body-background);
  --navbar-background: #323232;
  --navbar-active-background: #1d1f1f;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #323232;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --success: #1bd01a;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: #434343;
  --action-icon: var(--text-default);
  --action-icon-hover: var(--text-hover);
  --action-icon-active: var(--accent);
}

body.old-school {
  --accent: #ffa800;
  --accent-overlay: #ffc44f;
  --navbar-accent: #eae8e5;
  --background: #1d1f1f;
  --body-background: #1d1f1f;
  --background-darker: #1d1f1f;
  --current-background: var(--body-background);
  --navbar-background: #323232;
  --navbar-active-background: #1d1f1f;
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  --input-background: #323232;
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);
  --success: #0bd48c;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: #434343;
  --action-icon: var(--text-default);
  --action-icon-hover: var(--text-hover);
  --action-icon-active: var(--accent);
}

body.classic,
body.dracula-classic,
body.marine-classic,
body.zombie-classic {
  --navbar-accent: var(--text-default);
}
