.currentDownload {
  font-size: var(--text-sm);
  padding: 16px 0;
  transition: 300ms;
  margin-top: 12px;
}

.currentDownload > .gameTitle {
  font-size: var(--text-md);
  transition: 600ms;
  font-weight: 700;
}

.currentDownload:hover > .gameTitle {
  color: var(--accent-overlay);
  transition: 600ms;
}

.downloadStatus {
  color: var(--success);
  font-family: var(--secondary-font-family);
  font-style: italic;
  font-weight: normal;
  font-size: var(--text-sm);
  line-height: 12px;
}

.currentDownload .MuiLinearProgress-bar1Determinate {
  background-color: var(--success);
}

.statusIcon svg {
  width: 27px;
  height: auto;
  color: var(--success);
}
