.toggleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.helpIcon {
  padding-left: 5px;
  color: var(--accent);
}

.settingsWrapper {
  .defaults-hint {
    background: var(--anticheat-denied);
    color: white;
    text-align: left;
    padding: var(--space-md);
    display: flex;
    gap: var(--space-md);
  }

  section:not(:nth-of-type(0)) {
    padding-top: var(--space-xl);
  }
}
