@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/initial-variables";
// edit bulma variables here

$primary               : #D49E11;
$input-background-color: transparent;



// end edit variables

@import "../..//node_modules/bulma/bulma";

// bulma modifiers
.force-center{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

//

// main styling




//game card 

.gameList {
  grid-template-columns: repeat(1rem);
  grid-gap: 1rem;
  padding: 0 4rem 0 4rem;
}