.smallInfo {
  text-align: left;
}

.smallTitle {
  font-size: 11px;
  color: var(--text-secondary);
}

.smallSubtitle {
  font-size: 12px;
  color: var(--text-primary);
}

.clickable {
  color: var(--text-primary);
  cursor: pointer;
}

.clickable:hover {
  color: var(--secondary-hover);
  transition: 300ms;
}
