.smallInfo {
  text-align: left;
}

.smallTitle {
  font-size: 14px;
  color: var(--text-default);
}

.smallSubtitle {
  font-size: 15px;
  color: var(--text-default);
}

.clickable {
  color: var(--accent);
  cursor: pointer;
}

.clickable:hover {
  color: var(--text-default);
  transition: 300ms;
}
