.subMenuContainer {
  flex-direction: column;
  justify-content: space-between;
}

.submenu {
  font-size: var(--text-xl);
  width: -webkit-fill-available;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 150ms;
  text-align: initial;
  align-items: flex-start;
  & .link {
    text-decoration: none;
  }
}

.game-submenu-container {
  height: 39px;
  width: 39px;
  display: flex;
  border-radius: var(--space-xs);
}

.game-submenu-button {
  background: var(--input-background);
  border: none;
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.game-submenu-icon {
  color: var(--text-default);
  padding-left: var(--space-2xs);
  padding-right: var(--space-2xs);
  height: 24px;
  display: flex;
  flex-grow: 1;
}

.dropdown.game-submenu-dropdown {
  .button {
    background-color: var(--background);
    align-self: flex-start;
    padding-left: 0;

    svg {
      margin-right: var(--space-xs);
    }
  }

  /* store page has different setup */
  a.button.is-link {
    margin-left: var(--space-xs);
  }
}

.dots {
  position: absolute;
  right: 46px;
  top: 64px;
  width: 25px;
  z-index: 1;
  cursor: pointer;
}

.linkTitle {
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: var(--medium);
  font-size: var(--text-md);
  line-height: 19px;
  color: var(--text-default);
}

.otherInfo {
  width: 210px;
  padding-top: 60px;
  word-break: break-word;
}

.otherInfo > .clickable {
  margin-top: 12px;
}

.submenu .MuiCircularProgress-root.is-link {
  width: auto !important;
  height: auto !important;
}
.submenu .MuiCircularProgress-root.is-link svg {
  width: var(--line-height) !important;
  height: var(--line-height) !important;
}
