.Sidebar {
  --sidebar-horizontal-padding: 16px;
  --sidebar-vertical-padding: 24px;
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: 'links' 'layout' 'utils';
  grid-area: sidebar;
  height: 100%;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  text-align: left;
  background: var(--navbar-background);
}

.Sidebar__section {
  display: flex;
  width: 100%;
  height: fit-content;
  font-family: 'Rubik', sans-serif;
  flex-direction: column;
}

.Sidebar__item {
  display: flex;
  width: 100%;
  padding: 7px var(--sidebar-horizontal-padding);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--navbar-accent);
  transition: color 250ms;
}

.Sidebar__item:focus-visible {
  outline: 2px solid var(--text-hover);
  outline-offset: -2px;
}

.Sidebar__item:hover {
  background-color: var(--navbar-active-background);
}

.Sidebar__item.active {
  color: var(--accent);
}

.Sidebar__item.active.SidebarLinks__subItem {
  font-weight: 700;
  background-color: var(--navbar-active-background);
}

.Sidebar__itemIcon {
  box-sizing: border-box;
  width: 24px;
  margin-right: 10px;
  display: inline-flex;
  justify-content: center;
  color: var(--accent);
}
