.sidebar {
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    z-index: 10;
    background: var(--background);
    overflow-x: hidden;
    box-shadow: 0px 4.00313px 10.0078px #161616;
    display: grid;
    grid-template-rows: 1fr 15% 1fr;
    grid-template-areas: 'links' 'layout' 'other';
    grid-area: sidebar;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
    padding-left: 16px;
}