.subMenuContainer {
    flex-direction: column;
    justify-content: space-between;
}

.submenu {
    font-size: 25px;
    width: -webkit-fill-available;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 150ms;
    text-align: initial;
}

.dots {
    position: absolute;
    right: 46px;
    top: 64px;
    width: 25px;
    z-index: 1;
    cursor: pointer;
}

.link {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--secondary);
    margin: 4px 0px;
    cursor: pointer;
}

.link:hover {
    color: var(--secondary-hover);
}

.linkTitle {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary);
}

.otherInfo {
    width: 210px;
    word-break: break-word;
}
