.more {
  font-size: 25px;
  width: -webkit-fill-available;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 44px;
  transition: 150ms;
  text-align: center;
  padding: 10px 20px;
  background: #1a1b1c;
  box-shadow: 0px 4px 6px rgb(0 0 0 / 45%);
  max-width: 240px;
  margin: 44px auto;
}

.dots {
  position: absolute;
  right: 46px;
  top: 64px;
  width: 25px;
  z-index: 1;
  cursor: pointer;
}

.link {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin: 4px;
  cursor: pointer;
}

.link:hover {
  color: var(--secondary);
}

.linkTitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--primary);
}
