.anticheatInfo {
  display: flex;
  max-width: 560px;
  padding: var(--space-md);
  gap: 0.4rem;
  border-radius: 20px;
  background-color: var(--current-background);
  margin-bottom: var(--space-lg);
  margin-top: var(--space-lg);

  .statusInfo {
    flex-direction: column;
    display: flex;
    padding-inline-start: var(--space-md);
  }
}

.anticheatInfo h4 {
  margin: 0 0 var(--space-md);
}

.anticheatInfo p {
  margin: 0 0 var(--space-md);
}

.anticheatInfo.Denied {
  border: 2px solid var(--anticheat-denied);
  .statusIcon path {
    fill: var(--anticheat-denied);
  }
}
.anticheatInfo.Broken {
  border: 2px solid var(--anticheat-broken);
  .statusIcon path {
    fill: var(--anticheat-broken);
  }
}
.anticheatInfo.Running {
  border: 2px solid var(--anticheat-running);
  .statusIcon path {
    fill: var(--anticheat-running);
  }
}
.anticheatInfo.Supported {
  border: 2px solid var(--anticheat-supported);
  .statusIcon path {
    fill: var(--anticheat-supported);
  }
}
.anticheatInfo.Planned {
  border: 2px solid var(--anticheat-planned);
  .statusIcon path {
    fill: var(--anticheat-planned);
  }
}
