.anticheatInfo {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: var(--space-md);
  gap: 0.4rem;
  margin: var(--space-md) 0;
}

.anticheatInfo h4 {
  margin: 0 0 var(--space-md);
}

.anticheatInfo p {
  margin: 0 0 var(--space-md);
}

.anticheatInfo.Denied {
  background: var(--anticheat-denied);
}
.anticheatInfo.Broken {
  background: var(--anticheat-broken);
}
.anticheatInfo.Running {
  background: var(----anticheat-running);
}
.anticheatInfo.Supported {
  background: var(--anticheat-supported);
}
.anticheatInfo.Planned {
  background: var(--anticheat-planned);
}
