.Settings {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  border-radius: 1rem;
  grid-area: content;
  margin-block-start: 20px;
  padding: 0px 48px;
}

.settingsWrapper {
  margin-inline-end: auto;
  max-width: 669px;
  display: flex;
  flex-direction: column;
  place-self: center;
  place-items: flex-start;
  width: 100%;
  padding-bottom: 8px;
}

.headerTitle {
  font-size: 2rem;
  margin-inline-end: auto;
  padding: 8px;
  color: var(--accent);
  transition: 350ms;
}

.headerTitle:hover {
  color: var(--accent-overlay);
}

.headerTitle > svg {
  margin-left: 12px;
}

.settingsWrapper > .backButton {
  position: relative;
  top: -10px;
  left: -38px;
}

.settingsTools {
  margin-block: 16px;
  justify-content: left;
  max-width: 512px;
}

.setting {
  display: grid;
  place-items: baseline;
  margin: 16px;
  width: 100%;
}

.setting.double {
  margin: 0 16px;
  align-content: space-between;
  text-align: left;
}

.setting.double > span > button,
.setting.double > span > .small,
.setting.double > span > input {
  margin: 16px 0;
}

.settingInputWithButton {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  width: 100%;
}

.settingInputWithButton > .button.is-small {
  min-width: fit-content;
}

.setting > .toggleWrapper {
  display: flex;
  cursor: pointer;
  gap: 15px;
  align-content: flex-start;
  width: 512px;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-default);
}
.toggleWrapper label {
  text-align: center;
  margin-block: auto;
}

.toggleWrapper > .switch {
  transform: scale(1.5);
}

.settingSelect.small {
  width: clamp(150px, 10rem, 372px);
}

.settingSelect.smaller {
  width: 66px;
  text-indent: 11px;
}

.settingSelect > option {
  background: var(--background);
  height: 40px;
  color: var(--text-secondary);
  text-indent: 22px;
  font-size: 16px;
  border-radius: 10px;
}

.save {
  cursor: default;
  margin: 1em 0 0 18px;
  padding-block-end: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--font-secondary-regular-italic);
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #5a5e5f;
}

.appName {
  margin-inline-start: 18px;
  padding-block: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: var(--font-secondary-regular-italic);
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #5a5e5f;
}

.save > .material-icons {
  font-size: 28px;
  margin-inline-start: 6px;
}

.warning {
  color: yellow;
  font-size: 12px;
  width: 100%;
  max-width: 513px;
  white-space: break-spaces;
  padding-top: 4px;
}

.smallLink {
  font-size: 12px;
  width: 100%;
  max-width: 513px;
  white-space: break-spaces;
  padding-top: 4px;
  cursor: pointer;
}

a {
  cursor: pointer;
}
.settingsWrapper > .button.is-text {
  margin-inline: 8px;
  padding-block: 8px;
  color: var(--text-quartenary);
}

.button.is-footer {
  margin-block: 8px;
  min-width: 120px;
  max-height: 80px;
  background-color: transparent;
  box-shadow: none;
  color: var(--text-default);
}

.button.is-footer:hover,
.button.is-footer:focus-visible {
  background-color: var(--stop-button);
  color: var(--text-hover);
}

.button.is-danger.is-footer {
  background: transparent;
  color: var(--danger-hover);
}

.button.is-danger.is-footer:hover,
.button.is-danger.is-footer:focus-visible {
  background: var(--danger);
  color: var(--text-secondary);
}

.button.is-danger:disabled,
.button.is-danger.is-footer:disabled {
  background: var(--icon-disabled);
  color: var(--text-default);
}

.button.is-footer.isSuccess {
  color: var(--success) !important;
}

.footerFlex {
  margin-inline-start: 6px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 16px;
}

.button-icontext-flex {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-block: auto;
  margin-inline: auto;
  gap: 4px;
  position: relative;
}

.button-icontext-flex .button-icon-text {
  margin-block: auto;
  font-size: 13px;
}

.button-icon-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
