.UpdateComponent {
  height: 100%;
  font-size: var(--text-xl);
  color: var(--text-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & svg {
    font-size: var(--text-4xl);
    animation: refreshing 1.5s infinite;
    max-width: 100px;
  }
}

@keyframes refreshing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
