.SearchBar {
  grid-area: search;
  width: 100%;
  position: relative;
  display: inline-flex;
  background: var(--input-background);
  border-radius: var(--space-3xs);
  padding: var(--space-3xs);
}

.autoComplete {
  position: absolute;
  top: 100%;
  max-height: 200px;
  width: 100%;
  background-color: var(--input-background);
  overflow: auto;
  list-style: none;
  margin: 0;
  display: none;
  padding: var(--space-xs) var(--space-md);
  text-align: left;
  overflow-x: hidden;
}

.SearchBar:focus-within ul.autoComplete {
  display: block;
}

.autoComplete li:hover {
  background-color: var(--accent);
  color: var(--background);
}

.searchButton {
  padding: var(--space-2xs) var(--space-2xs) 0 var(--space-2xs);
}

.clearSearchButton {
  padding-right: var(--space-md);
  transition: color 250ms;
  background: transparent;
  border: none;
  color: var(--text-secondary);
}

.searchBarInput {
  width: 100%;
  appearance: none;
  background: transparent;
  font: var(--font-secondary-bold);
  color: var(--text-secondary);
  padding: 0 var(--space-lg);
  border: none;
  outline: none;
  transition: color 250ms;
}
