.header {
  display: grid;
  position: sticky;
  top: 0;
  z-index: 7;
  background: var(--primary-darker);
  grid-template-columns: 3fr 4fr 2fr 1fr;
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  font-size: clamp(1em, 0.5vw, 2rem);
  line-height: 17px;
  color: var(--text-secondary);
  grid-template-areas: 'filter search total refresh';
  place-content: center;
  justify-items: center;
  align-items: center;
  padding: 15px 0;
}

.headerSettings {
  grid-template-columns: 1fr 6fr;
  display: grid;
  grid-template-areas: 'return title';
  width: 70vw;
  min-width: 513px;
  max-width: 912px;
  place-self: center;
  align-items: center;
  margin: 22px 0;
}

.headerSettings > .headerTitle {
  font-size: 1.5rem;
  grid-area: title;
  width: fit-content;
  place-self: center;
  padding-right: 100px;
}

.selectFilter {
  display: flex;
  width: 90%;
  justify-self: baseline;
  justify-content: space-between;
  grid-area: filter;
  flex-wrap: wrap;
  font-size: 16px;
  align-content: center;
  margin-left: 32px;
  height: 29px;
}

.selectFilter > select {
  cursor: pointer;
  padding: 0 8px;
  color: var(--text-secondary);
  border: none;
  background: var(--background);
  font-size: 16px;
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  color: var(--text-secondary);
  width: fit-content;
  margin-right: 10px;
  border-radius: 6px;
}

option {
  background: var(--background);
  color: var(--text-secondary);
}

.selectCategory {
  display: flex;
  width: fit-content;
  justify-self: end;
  justify-content: space-evenly;
  cursor: pointer;
  grid-area: category;
  align-content: center;
  flex-wrap: wrap;
}

.selectCategory > span:hover {
  color: var(--secondary);
}

.selectCategory > .selected {
  font-size: clamp(1.1em, 0.6vw, 2.1rem);
  font-weight: 600;
  color: var(--primary);
}

.selectCategory > :not(:first-child) {
  padding: 0 8px;
}

.iconsWrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-left: 6px;
}

.totalGamesText {
  right: 55px;
  top: 108px;
  grid-area: total;
  margin: auto;
}

.returnLink {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  width: 100px;
  margin: 0 -10px;
  height: fit-content;
}

.allFilter {
  background: none;
  color: var(--text-primary);
  border: 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.macFilter {
  width: 50%;
  padding-right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100px;
}

.macFilter > .selectedLayout {
  color: var(--secondary);
}

.refreshIcon:hover,
.svg-button:focus-visible .refreshIcon {
  animation: refreshing 2s infinite;
}

@keyframes refreshing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
