.toolsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'winecfg winetricks'
    'runexe 1fr';
  place-items: center;
  cursor: pointer;
  width: 430px;
}

.toolsWrapper > button,
.toolsWrapper > a {
  margin-inline-start: -11px;
}

.tools {
  font: var(--font-secondary-regular);
  font-size: var(--text-md);
  line-height: 19px;
  text-decoration: underline;
  color: var(--text-hover);
  transition: 350ms;
}

.tools:hover {
  color: var(--download-button-overlay);
  border: var(--download-button-overlay);
}

.tools.drag {
  display: grid;
  border: var(--background) solid 1px;
  color: var(--text-default);
  padding: var(--space-sm) var(--space-md);
  grid-area: runexe;
  margin-top: 30px;
  text-decoration: none;
}

.tools.drag:hover,
.tools.drag:hover > span {
  color: var(--text-hover);
  border-color: var(--text-hover);
}

.drag > span {
  transition: 350ms;
  font-size: var(--text-xs);
  font-style: italic;
  color: var(--text-secondary);
  text-decoration: none;
}
