.toolsWrapper {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  width: 430px;
  max-width: fit-content;

  .button {
    padding-block: var(--space-lg);
    margin: 0 var(--space-3xs);
    display: flex;
    align-items: center;
    border-radius: 8px;
  }

  .active {
    animation: fading 1s alternate infinite;
  }
}

@keyframes fading {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
    background-color: var(--navbar-background);
    color: var(--text-default);
  }

  100% {
    opacity: 1;
  }
}
