.runnerWrapper {
  background-color: var(--background-darker);
  padding: var(--space-lg);
  border-radius: var(--space-xs);
  min-width: min(500px, 30%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  backdrop-filter: blur(var(--blur-light));
}

.runnerWrapper > h1 {
  color: var(--text-default);
}

.runnerLogin {
  padding: var(--space-xs);
  font-size: var(--text-xl);
  border: none;
  transition: 0.2s;
}

.runnerLogin.alternative {
  margin-top: 20px;
  cursor: pointer;
  color: var(--text-secondary);
}

.runnerLogin:hover {
  color: var(--text-hover);
}

.logged {
  color: var(--danger);
  cursor: pointer;
}

.logged:hover {
  color: var(--danger-hover);
}

.runnerWrapper img,
.runnerWrapper svg {
  width: 100px;
  margin: var(--space-lg);
  fill: #fff;
  height: 100%;
}

.userData {
  color: var(--text-secondary);
  /* For longer nicknames */
  font-size: var(--text-lg);
  margin: var(--space-sm) 0;
}

.runnerWrapper.epic {
  margin-right: var(--space-xl-fixed);
}
.runnerWrapper.gog {
  margin-left: var(--space-xl-fixed);
}
.runnerWrapper.gog svg {
  margin-top: var(--space-md-fixed);
}
