.runnerWrapper {
  background-color: var(--input-background);
  border-radius: var(--space-xs);
  min-width: min(500px, 30%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  backdrop-filter: blur(var(--blur-light));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.runnerWrapper > h1 {
  color: var(--text-default);
}

.runnerLogin {
  padding: var(--space-lg);
  font-size: var(--text-md);
  border: none;
  transition: 0.2s;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.runnerLogin.alternative {
  cursor: pointer;
}

.alternative > svg {
  fill: var(--background-lighter) !important;
}

.runnerLogin:hover {
  color: var(--accent);
}

.logged {
  color: var(--danger);
  cursor: pointer;
}

.logged:hover {
  color: var(--danger-hover);
}

.runnerIcon {
  height: 100%;
  width: 60px;
  background-color: var(--text-default);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.runnerIcon img,
.runnerIcon svg {
  width: 100%;
  padding: 10px;
}

.runnerIcon.gog img {
  margin-top: -1px;
}

.runnerWrapper img,
.runnerWrapper svg {
  height: 100%;
  fill: var(--body-background);
}

.userData {
  color: var(--text-secondary);
  /* For longer nicknames */
  font-size: var(--text-lg);
  margin: var(--space-sm) 0px;
  padding: 0px 10px;
}

.runnerButtons,
.userData {
  flex: 1;
}
