@mixin colorSystem {
  /* Generic colors */
  --background: #151f3d;
  --background-darker: #0d0f1c;
  --background-darker-80: #0d0f1ce0;
  --background-secondary: #323035;
  --background-lighter: #152f6d;
  --background-hover: rgb(20 20 20 / 47%);
  --background-gradient: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 2.4%,
    #0d0f1cd2 64%
  );

  /* Colours */
  --navbar-background: var(--background);
  --input-background: var(--background-darker);
  --body-background: #13172a;
  --current-background: var(--body-background);
  --modal-background: #13172a;
  --modal-border: #1f253f;
  --modal-backdrop: #00000074;
  --text-hover: #59d0ea;
  --primary: #07c5ef;
  --primary-hover: #4cdafa;
  --link-highlight: #07c5ef;
  --accent: #eaa114;
  --accent-overlay: #ffbb33;
  --navbar-accent: var(--accent);
  --navbar-active-background: var(--background-lighter);
  --play-button: #59d0ea;
  --download-button: #3082d9;
  --download-button-overlay: #1372d7;
  --stop-button: #252121;
  --scrollbar-thumb: #ffffff33;
  --favourite-active: #97f4e9;
  --favourite-inactive: #eae8e5;
  --danger: #bd0a0a; /* These success, danger and disabled colours need to be documented */
  --success: #0bd58c;
  --success-hover: #30eca8;
  --danger-hover: #e43f3f;
  --icon-disabled: #625e69;
  --icons-background: #17131c;
  --divider: gray;
  --osk-background: var(--body-background);
  --osk-button-background: var(--input-background);
  --osk-button-border: var(--navbar-background);
  --controller-hints-background: transparent;

  --anticheat-denied: var(--danger);
  --anticheat-broken: #e8590c;
  --anticheat-running: #0e8598;
  --anticheat-supported: #2f9e44;
  --anticheat-planned: #6841d9;

  /* Gradients */
  --gradient-welcome: linear-gradient(#13172a 100%, #13172a 89%, #13172a 0%);
  --gradient-big-game-menu: linear-gradient(
    #13172a 100%,
    #1d1f1f 31.77%,
    #1d1f1f 0%
  );
  --gamecard-title-color: #17131cd2;
  --gradient-gamecard: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 1.8%,
    var(--gamecard-title-color) 45%
  );
  --gradient-game-hover: linear-gradient(#000000 30.8%, #141515 77%);
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  /* Text colours */
  --text-default: #eae8e5;
  --text-secondary: #b1b1b1;
  --text-pause-cancel: #97f4e9;
  --text-title: #ffffff;
  --text-tertiary: #101111; /* This is not defined in figma */
  --text-quartenary: #5a5e5f; /* this is meant to be a background colour */
  --text-danger: #d22121;
  --text-gametitle: var(--text-default);
  --text-log: #f5cf69;

  /*Action Icons*/
  --action-icon: var(--text-default);
  --action-icon-hover: var(--text-hover);
  --action-icon-active: var(--accent);
}

body {
  color: var(--text-default);
  background: var(--body-background);
}

a {
  color: var(--text-default);
  text-decoration: none;
}

.simple-keyboard .hg-button {
  background: var(--osk-button-background);
  border-color: var(--osk-button-border);
  color: var(--text-default);
}

.simple-keyboard .hg-button.hg-activeButton {
  background: var(--osk-button-border);
  border-color: var(--osk-button-border);
  color: var(--text-default);
}

h1,
h2,
h3 {
  color: var(--text-title);
}

.gogIcon {
  fill: var(--text-default);
}
