@mixin colorSystem {
  /* General Colors as on Figma. Do not add new colors here */
  /* Brand */
  --brand-primary: #1de8f5;
  --brand-secondary: #819cff;
  --brand-text-01: #e0f9ff;
  --brand-text-02: #97e5f7;

  /* Neutral */
  --neutral-01: #070a0b;
  --neutral-02: #161c1e;
  --neutral-03: #2d3638;
  --neutral-04: #607276;

  /* Status */
  --status-default: #d2d2d2;
  --status-success: #0ce396;
  --status-warning: #ffd012;
  --status-danger: #f4297e;
  --status-info: #0fefc7;
  --primary-hover: #5ef5ff;
  --primary-active: #04bac6;
  --secondary-hover: #a7baff;
  --secondary-active: #2253ff;

  --status-default-hover: rgb(197, 197, 197);
  --status-success-hover: #14f7a7;
  --status-warning-hover: #ffd426;
  --status-danger-hover: #f4297e;
  --status-info-hover: #0fefc7;

  /* Status Hover */

  /* Other */
  --stroke-accent: #8bffff;
  --eighty-percent-black: #000000cc;
  --sixty-percent-black: #00000099;

  /* Gradient */
  --gradient-01: linear-gradient(270.36deg, #4b93ff 1.57%, #18dfec 96.46%);
  --gradient-02: linear-gradient(270.36deg, #1de8f5 1.57%, #4b93ff 96.46%);

  /* Text colours */
  --text-default: #e0f9ff;
  --text-secondary: #b1b1b1;
  --text-pause-cancel: #97f4e9;
  --text-title: #ffffff;
  --text-tertiary: #101111; /* This is not defined in figma */
  --text-quartenary: #5a5e5f; /* this is meant to be a background colour */
  --text-danger: #d22121;
  --text-gametitle: var(--text-default);
  --text-log: #f5cf69;
  --text-warning: #eaa114;

  /*Action Icons*/
  --action-icon: var(--text-default);
  --action-icon-hover: var(--text-hover);
  --action-icon-active: var(--accent);
}

body {
  color: var(--text-default);
  background: var(--body-background);
}

a {
  color: var(--text-default);
  text-decoration: none;
}

.simple-keyboard .hg-button {
  background: var(--osk-button-background);
  border-color: var(--osk-button-border);
  color: var(--text-default);
}

.simple-keyboard .hg-button.hg-activeButton {
  background: var(--osk-button-border);
  border-color: var(--osk-button-border);
  color: var(--text-default);
}

.danger {
  color: var(--text-danger) !important;
}

.warning {
  color: var(--text-warning) !important;
}

h1,
h2,
h3 {
  color: var(--text-title);
}

.gogIcon {
  fill: var(--text-default);
}
