@mixin colorSystem {
  /* General Colors as on Figma. Do not add new colors here */
  /* Brand */
  --brand-primary: #1de8f5;
  --brand-secondary: #819cff;
  --brand-text-01: #e0f9ff;
  --brand-text-02: #97e5f7;

  /* Neutral */
  --neutral-01: #070a0b;
  --neutral-02: #161c1e;
  --neutral-03: #272f31;
  --neutral-04: #495456;
  --neutral-05: #9eb7bc;
  --neutral-06: #d1e4e9;

  /* Status */
  --status-default: #d2d2d2;
  --status-success: #0ce396;
  --status-warning: #daad0e;
  --status-danger: #b80953;
  --status-info: #0fefc7;
  --primary-hover: #88ebf1;
  --primary-active: #0db4be;
  --secondary-hover: #a7baff;
  --secondary-active: #2253ff;

  /* Status Hover */
  --status-default-hover: rgb(197, 197, 197);
  --status-success-hover: #14f7a7;
  --status-warning-hover: #ffd426;
  --status-danger-hover: #f4297e;
  --status-info-hover: #0fefc7;

  /* Other */
  --accent: #8bffff; // accent-01 on figma
  --accent-overlay: #b098e2; // accent-02 on figma
  --eighty-percent-black: #000000cc;
  --sixty-percent-black: #00000099;

  /* Gradient */
  --gradient-01: linear-gradient(270.36deg, #86b6ff 1.57%, #18dfec 96.46%);
  --gradient-02: linear-gradient(270.36deg, #1de8f5 1.57%, #4b93ff 96.46%);
  --gamecard-title-color: var(--eighty-percent-black);
  --gradient-gamecard: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 1.8%,
    var(--gamecard-title-color) 45%
  );
  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
}

body {
  color: var(--text-default);
  background: var(--body-background);
}

a {
  color: var(--text-default);
  text-decoration: none;
}

.simple-keyboard .hg-button {
  background: var(--osk-button-background);
  border-color: var(--osk-button-border);
  color: var(--text-default);
}

.simple-keyboard .hg-button.hg-activeButton {
  background: var(--osk-button-border);
  border-color: var(--osk-button-border);
  color: var(--text-default);
}

h1,
h2,
h3 {
  color: var(--text-default);
}

.gogIcon {
  fill: var(--text-default);
}
