@mixin radiusSystem {
  --radius-none: 0;
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-xl: 24px;
  --radius-pill: 999px;
  --radius-circle: 50%;

  --radius-default: var(--radius-md);
  --radius-interactive: var(--radius-sm);
}
