@mixin spacingSystem {
  /* spacing values */
  --space-3xs: 0.25em;
  --space-2xs: 0.375em;
  --space-xs: 0.5em;
  --space-sm: 0.75em;
  --space-md: 1em;
  --space-lg: 1.5em;
  --space-xl: 3em;
  --space-2xl: 4.5em;
  --space-3xl: 8.5em;

  --space-unit-fixed: 1rem;
  --space-2xs-fixed: calc(0.25 * var(--space-unit-fixed));
  --space-xs-fixed: calc(0.5 * var(--space-unit-fixed));
  --space-sm-fixed: calc(0.75 * var(--space-unit-fixed));
  --space-md-fixed: calc(1 * var(--space-unit-fixed));
  --space-lg-fixed: calc(1.2 * var(--space-unit-fixed));
  --space-xl-fixed: calc(2.5 * var(--space-unit-fixed));
  --space-2xl-fixed: calc(4.5 * var(--space-unit-fixed));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: var(--space-xxs);
}

body {
  margin: 0;
}
