.uninstall-modal {
  .uninstallModalMessage {
    margin-bottom: var(--space-md);
  }

  .default-wine-warning {
    padding: var(--space-xs);
    color: var(--text-default);
    padding-top: 0;
    margin-top: var(--space-xs);
  }

  label + .hiddenCheckbox + label {
    margin-top: var(--space-sm);
  }
}
