.UpdateComponent {
  width: 100%;
  height: 100%;
  font-size: 24px;
  color: var(--text-default);
}

.UpdateComponent--topLevel {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  flex-direction: column;
}

.UpdateComponent__wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.UpdateComponent--inline .UpdateComponent__wrapper {
  height: 100%;
  min-height: 100px;
}

.UpdateComponent__icon {
  font-size: 40px;
  animation: refreshing 1.5s infinite;
}

@keyframes refreshing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
