.wineManager {
  height: 100%;
  display: flex;
  flex-direction: column;
  .tabsWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

    .FormControl__button {
      width: fit-content;
      cursor: pointer;

      &:hover {
        color: var(--accent);
      }
    }

    .MuiTabs-root {
      .MuiTabs-scroller {
        .MuiTabs-indicator {
          background-color: var(--accent);
        }

        .MuiTabs-flexContainer {
          .MuiTab-root {
            color: var(--text-default);
          }

          .Mui-selected {
            color: var(--accent);
          }
        }
      }
    }
  }

  .wineList {
    margin-top: 48px;
    margin: 48px var(--space-xl-fixed) 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .gameListHeader {
      grid-template-columns: 3fr 2fr 1fr 10%;
      & span:last-child {
        justify-self: center;
      }
    }
  }

  .infoBox {
    width: 80%;
    margin: 0 auto;
    & svg {
      margin-inline-end: 0.5rem;
    }
  }
}
