.gameListHeader {
  padding: var(--space-md) 0;
  grid-template-columns: 2fr 1fr 1fr 1fr 10%;
  margin: 0 var(--space-sm-fixed);
}

.downloadManager
  > .MuiTabs-root
  > .MuiTabs-scroller
  > .MuiTabs-flexContainer
  > .MuiTab-root {
  color: var(--text-default);
}

.downloadManager
  > .MuiTabs-root
  > .MuiTabs-scroller
  > .MuiTabs-flexContainer
  > .Mui-selected {
  color: var(--accent);
}

.downloadManager > .MuiTabs-root > .MuiTabs-scroller > .MuiTabs-indicator {
  background-color: var(--accent);
}

.downloadManager {
  padding: 0;
  margin: 0;
}

.downloadManagerCurrentSectionTitle {
  margin: 0px 0px 0px 0px;
  text-align: initial;
  padding-left: 30px;
}

.downloadManagerQueuedSectionTitle {
  margin: 30px 0px 0px 0px;
  text-align: initial;
  padding-left: 30px;
}

.dmItemList {
  border: solid 2px var(--input-background);
  background-color: var(--input-background);
  border-radius: 6px;
  margin: var(--space-3xs) var(--space-lg);
}
