.SIDLoginModal {
  display: grid;
  place-items: center;
  inset: 0px;
  position: absolute;
  z-index: 8;
}

.backdrop {
  inset: 0px;
  position: absolute;
  background: var(--background-darker-80);
  z-index: 6;
}

.sid-modal {
  position: relative;
  display: grid;
  place-items: center;
  background: var(--background-darker);
  border-radius: 10px;
  z-index: 7;
  padding: var(--space-lg);
  height: fit-content;
  min-height: 225px;
  border: solid 1px var(--background);
  overflow: auto;
  max-height: 100vh;
  max-width: 90%;
  font-size: var(--text-md);
  margin: 2rem;
}

.loginInstructions > strong {
  color: var(--text-hover);
  font-size: var(--text-xl);
}

.loginInstructions .epicLink {
  color: var(--text-hover);
  cursor: pointer;
}
.loginInstructions .epicLink:hover {
  color: var(--link-highlight);
}

.loginInstructions .material-icons {
  color: var(--link-highlight);
}

.loginInstructions .login-link {
  display: flex;
  background-color: var(--background-darker);
  border-color: var(--accent);
  color: var(--text-default);
  padding: var(--space-2xs);
  margin: var(--space-lg);
  width: inherit;
  justify-content: space-around;
  user-select: text;
  flex-wrap: wrap;
}

.loginInstructions .login-link h6 {
  padding-inline-start: 0px;
}

.loginInstructions .icon-button {
  color: var(--accent);
  border-color: var(--accent);
  white-space: nowrap;
}

.loginInstructions .icon-button:hover {
  color: var(--accent-overlay);
  border-color: var(--accent-overlay);
}

.loginInstructions .icon-button-success {
  color: var(--success);
  border-color: var(--success);
}

.loginInstructions .icon-button-success:hover {
  color: var(--success-hover);
  border-color: var(--success-hover);
}

.loginInstructions li {
  text-align: start;
}

.sid-modal > .sid-input {
  color: var(--text-secondary);
  font-size: var(--text-md);
  padding: var(--space-2xs);
  background-color: var(--input-background);
  border: none;
  height: 40px;
  width: 60%;
  border-radius: var(--space-3xs);
  margin-bottom: var(--space-md);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: var(--primary-font-family);
}

.material-icons.refreshing {
  color: var(--text-hover);
  animation: 2s refreshing;
  animation-iteration-count: infinite;
}
