.SIDLoginModal {
  display: grid;
  place-items: center;
  width: var(--content-width);
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: 8;
}

.SIDLoginModal {
  width: var(--content-width);
}

.backdrop {
  display: grid;
  place-items: center;
  position: fixed;
  background: var(--background-darker-80);
  width: 100%;
  height: 100%;
  z-index: 6;
}

.sid-modal {
  position: relative;
  display: grid;
  place-items: center;
  min-width: fit-content;
  background: var(--background-darker);
  border-radius: 10px;
  width: 48vw;
  max-width: 560px;
  z-index: 7;
  padding: var(--space-lg);
  height: fit-content;
  min-height: 225px;
  border: solid 1px var(--background);
  overflow: auto;
  max-height: 100vh;
  font-size: var(--text-md);
}

.loginInstructions > strong {
  color: var(--text-hover);
  font-size: var(--text-xl);
}

.loginInstructions .epicLink {
  color: var(--text-hover);
  cursor: pointer;
}
.loginInstructions .epicLink:hover {
  color: var(--link-highlight);
}

.loginInstructions .material-icons {
  color: var(--link-highlight);
}

.loginInstructions li {
  text-align: left;
}

.sid-modal > .sid-input {
  color: var(--text-default);
  font-size: var(--text-md);
  padding: var(--space-2xs);
  background-color: var(--background);
  border: none;
  height: 50px;
  width: 250px;
  border-radius: var(--space-sm);
  margin: var(--space-sm);
}

.SIDLoginModal .message > .material-icons {
  color: var(--text-hover);
  animation: 2s refreshing;
  animation-iteration-count: infinite;
}
