.gameConfigContainer {
  background: var(--background-darker);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 100vh;
  justify-content: stretch;
  position: relative;
}

.gameConfig {
  display: flex;
  align-self: center;
  max-width: 1000px;
}

.gameConfigContainer .title {
  font-weight: 500;
  font-size: var(--text-xl);
  line-height: 30px;
  color: var(--text-default);
  text-align: left;
}

.gamePicture {
  flex-basis: 40%;
  flex-shrink: 0;
  flex-grow: 0;
}

.store-icon {
  border-radius: 10px;
  position: absolute;
  right: 18px;
  top: 6px;
  z-index: 2;
  padding: 5px;
  place-content: center;
  fill: var(--text-default);
}

.store-icon > svg {
  background-color: var(--body-background);
  width: 60px;
  height: 60px;
  padding: 4px;
  border-radius: 10px;
}

.store-icon > svg.gogIcon {
  padding: 0px 4px 4px 4px;
}

.backButton {
  position: absolute;
  top: 12px;
  left: 12px;
  background: none;
  border: none;
  color: var(--accent);
}

.backButton > .MuiSvgIcon-root {
  width: 40px;
  height: 40px;
  transition: 300ms;
}

.backButton > .MuiSvgIcon-root:hover {
  color: var(--accent-overlay);
}

.gameInfo {
  text-align: initial;
  font-size: 1rem;
  color: var(--text-default);
  display: flex;
  flex-direction: column;
  max-width: 650px;
  user-select: text;
}

.gameInfo .title {
  font-weight: 700;
  margin-bottom: 0;
}

.gameInfo > .settingSelect {
  margin-bottom: 12px;
  max-width: 420px;
}

.gameInfo .infoWrapper {
  color: var(--text-default);
  flex-grow: 1;
  line-height: 22px;
}

.gameInfo .developer {
  padding: 1rem 0 1rem 0;
  color: var(--text-default);
}

.gameInfo .summary {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  padding-bottom: 10px;
  margin-bottom: 14px;
  font-size: var(--text-md);
  max-width: 560px;
  text-overflow: ellipsis;
  color: var(--text-default);
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: auto;
  max-height: 150px;
}

.gameInfo,
.gameTools,
.gameRequirements {
  display: none;
  align-self: flex-start;
  padding: 8vh 2.2em 1.2em 1.2em;
  min-height: 0px;
  overflow: auto;
  max-height: 100%;
}

.gameTabs {
  flex: 60%;
  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.gameTabs.infoTab .gameInfo,
.gameTabs.toolsTab .gameTools,
.gameTabs.requirementsTab .gameRequirements {
  display: flex;
}

.gameTabs nav {
  text-align: left;
  padding: 15px;
}

.gameTabs nav button {
  margin-right: 1em;
  transition: 350ms;
  border: none;
  background: none;
  color: var(--text-default);
  cursor: pointer;
  font-size: 1em;
}

.gameTabs nav button:hover {
  color: var(--text-hover);
}

.gameTabs.infoTab button[data-tab='info'],
.gameTabs.toolsTab button[data-tab='tools'],
.gameTabs.requirementsTab button[data-tab='requirements'] {
  color: var(--accent);
  font-weight: 700;
}

.installProgress[value] {
  appearance: none;
  width: 169px;
  height: 5px;
}

.installProgress[value]::-webkit-progress-value {
  color: var(--success);
  animation: animate-stripes 5s linear infinite;
}

.buttonsWrapper {
  display: grid;
  grid-template-columns: min-content min-content;
  place-items: baseline;
  grid-column-gap: 1em;
}

.selectFieldWrapper.Field ~ .buttonsWrapper {
  margin-top: 24px;
}

.updateText {
  cursor: pointer;
}

.updateText:hover {
  color: var(--text-secondary);
}

.pictureTimeContainer {
  display: flex;
  flex-direction: column;
  max-height: 400px;
}

.infoWrapper.itemContainer {
  place-content: center;
  text-align: initial;
  width: 20vw;
  min-width: fit-content;
  max-width: 290px;
  margin-bottom: 12px;
}

.itemTitle {
  font-weight: 700;
  text-align: center;
}

.checkBox {
  display: flex;
  margin-top: 6px;
  align-items: center;
}

.dlcTitle {
  font-weight: 700;
  margin-top: 16px;
}

.sdlTitle {
  cursor: pointer;
  font-weight: 700;
}

.sdlTitle:hover {
  color: var(--download-button);
}

.itemName {
  margin-left: 4px;
}

.MuiIconButton-colorPrimary,
.MuiCheckbox-colorPrimary.Mui-checked {
  color: var(--download-button);
}

.PrivateSwitchBase-root-1 {
  padding: 2px;
}

.reportProblem {
  align-self: flex-start;
  margin-top: 1.2em;
  color: var(--accent);
}

.reportProblem svg {
  margin-right: 0.4em;
}

.buttonsWrapper .button {
  min-width: 170px;
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0px;
  }
}
