.App:not(.oldDesign) .gameConfigContainer {
  display: grid;
  grid-template-columns: minmax(500px, 60%) minmax(500px, 60%);
  padding: var(--space-md);
  gap: var(--space-md);
  border-radius: 10px;
  max-width: 1920px;
  max-height: 100vh;
  grid-template-areas:
    'header header'
    'left right'
    'report report';

  overflow: hidden;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;

  /*
  ** Adding icons to the MUI tabs makes them at least 72px high
  ** min-height is guaranteed by the min height of the tab parent element itself
  ** which is 44px
  */

  .MuiTab-labelIcon {
    min-height: unset;
  }

  p {
    margin-block-start: var(--space-xs);
    margin-block-end: var(--space-xs);
  }

  ::-webkit-scrollbar {
    background: none;
  }

  .backButton {
    justify-self: flex-start;
    width: 44px;
    height: 44px;
    padding: 6px;
    color: var(--status-default-hover);
    background-color: var(--navbar-background);
    border-radius: 10px;
    display: grid;
    place-items: center;
    border: none;

    svg path {
      fill: currentColor;
      transition: fill 0.2s;
    }

    &:hover {
      color: var(--);
    }
  }

  .topRowWrapper {
    display: flex;
    grid-area: header;
    align-items: center;
    justify-content: space-between;
    gap: auto;
    z-index: 1;
    width: 100%;

    & > * {
      filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.25));
    }

    .backButton {
      display: flex;
      justify-content: flex-start;
      gap: var(--space-sm);
      align-self: start;
    }
  }

  .topRowWapperInner {
    display: flex;
    grid-area: header2;
    gap: var(--space-sm);
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
  }

  .mainInfoWrapper,
  .extraInfoWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    overflow-x: hidden;
    align-items: flex-start;
    justify-self: start;
  }

  .mainInfoWrapper {
    grid-area: left;
  }

  .extraInfoWrapper {
    grid-area: right;
  }

  .mainInfo,
  .extraInfo {
    outline: 3px solid #8a8a8a;
    outline-offset: -3px;
    border-radius: 15px;
    isolation: isolate;
    position: relative;
    overflow: hidden;
    align-self: stretch;
    justify-self: stretch;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & > * {
      position: relative;
      z-index: 2;
      text-align: left;
    }

    & > .popover-wrapper {
      z-index: 3;
    }

    &::after {
      content: '';
      display: block;
      inset: 0px;
      position: absolute;
      z-index: 0;
      background-image: linear-gradient(
        180deg,
        transparent,
        var(--body-background) 70%
      );
    }
  }

  //mainInfoWrapper
  .mainInfoWrapper {
    .mainInfo {
      padding: max(25vh, 125px) min(4vw, 70px) min(5vh, 25px);
      background-color: var(--body-background);

      .store-icon {
        position: absolute;
        left: 0.5rem;
        top: 0.5rem;
      }

      .gamePicture {
        position: absolute;
        left: 2px;
        top: 2px;
        right: 2px;
        z-index: -1;
        border-radius: 10px;
        overflow: hidden;

        &::after {
          content: '';
          background-image: linear-gradient(
            180deg,
            transparent,
            var(--body-background)
          );
        }
      }

      h1 {
        font-size: 34px;
        line-height: 39px;
      }

      h1 {
        margin-bottom: 0.8rem;
        padding-top: var(--space-xs);
        color: var();
      }

      .developer {
        margin-bottom: 0.5rem;
        color: var(--brand-text-02);
        font-size: var(--text-md);
        font-style: italic;
      }

      .releaseDate {
        margin-bottom: 0.2rem;
        color: var(--neutral-05);
        font-size: var(--text-md);
      }

      .summary {
        overflow: auto;
        font-size: var(--text-lg);
        line-height: 1.5em;
        text-align: left;
        flex-grow: 1;
        margin-top: var(--space-xs);
        color: var(--neutral-06);
        padding: 0 12px 0 0;
      }

      .timeContainerLabel {
        margin-top: 0.8rem;
        color: var(--neutral-08);
        font-size: var(--text-md);
      }

      .genres {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-xs);
        margin-bottom: 0.5rem;

        .genre {
          background: var(--accent-overlay);
          color: var(--text-tertiary);
          padding: 1px 6px;
          border-radius: 6px;
          font-size: var(--text-sm);
        }
      }

      .gameStatus {
        text-align: left;
      }

      .MuiLinearProgress-root {
        display: block;
        background-color: var(--neutral-05);

        .MuiLinearProgress-bar {
          background-color: var(--success);
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 15px;
        width: 100%;

        .buttonWithIcon > svg {
          display: flex;
          justify-content: center;
          margin-inline-end: var(--space-2xs);
        }

        & > button {
          align-self: center;
        }

        & .mainBtn {
          min-width: 200px;
          font-size: var(--text-md);

          & svg {
            transform: scale(1.2);
            height: 16px;
            width: 16px;
            align-self: center;
            color: var(--neutral-03);
            &[data-icon='play'],
            &[data-icon='stop'] {
              /* For some reason Play/Stop icons are much smaller the rest */
              transform: scale(1.6);
            }
          }
        }

        & .delBtn {
          font-size: var(--text-md);
          min-width: 150px;
          & svg {
            margin-inline-end: 0;
          }
        }
      }
    }
  }

  //extraInfoWrapper

  .extraInfoWrapper {
    .extraInfo {
      padding: 4vh 1.5vw;

      & > div {
        overflow-y: auto;
      }

      & div.infoTab,
      & div.extraTab {
        & > div > * {
          display: flex;
          text-align: end;
          font-size: var(--space-unit-fixed);
          line-height: 24px;
          gap: var(--space-md-fixed);
          padding: var(--space-unit-fixed) 0;
          align-items: center;
          border-bottom: 1px solid transparent;
          background-image: linear-gradient(
            to right,
            transparent,
            var(--neutral-04),
            transparent
          );
          background-position: bottom;
          background-size: 100% 1px;
          background-repeat: no-repeat;

          &:focus-visible,
          &:has(:focus-visible) {
            /* do not use :focus-within to prevent outline form appearing when using a mouse */
            outline: 2px auto -webkit-focus-ring-color;
          }

          &:last-child {
            border-bottom: 0px;
          }

          b {
            text-align: start;
            white-space: nowrap;
            flex-grow: 1;
            flex-basis: 140px;
            flex-shrink: 0;
          }

          .truncatedPath {
            z-index: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
          }

          &:hover .truncatedPath,
          &:focus .truncatedPath {
            overflow: visible;
            white-space: normal;
            background: var(--body-background);
          }
        }
        & > div > .hltbWrapper > .MuiAccordion-root {
          background-color: unset;
          box-shadow: none;
          color: var(--text-default);
          flex-grow: 1;

          & > .MuiAccordionSummary-root:focus-visible {
            background: unset; /* no more darker background */
          }

          & > .MuiAccordionSummary-root {
            padding: 0;
            min-height: unset;

            & > .MuiAccordionSummary-content {
              margin: 0;
              display: flex;
              gap: 10px;
            }

            & .MuiAccordionSummary-expandIconWrapper {
              color: inherit;
            }
          }

          .MuiAccordionDetails-root {
            padding-bottom: 8px;
          }
        }
      }
    }

    .anticheatInfo {
      max-width: none;
      margin: 0;
    }
  }

  .reportProblem {
    display: flex;
    grid-area: report;

    svg {
      margin-inline-end: 0.5rem;
    }
  }

  .store-icon {
    border-radius: 10px;
    padding: var(--space-3xs);
    place-content: center;
    fill: var(--text-default);

    & > svg {
      background-color: var(--body-background);
      width: 46px;
      height: 46px;
      padding: var(--space-2xs);
      border-radius: 10px;

      &.gogIcon {
        padding: 0px var(--space-3xs) var(--space-3xs);
      }
    }
  }

  .settings-icon {
    width: 44px;
    position: relative;
    padding: 6px;
    color: var(--navbar-inactive);
    background-color: var(--navbar-background);
    border-radius: 10px;
    display: grid;
    place-items: center;
    height: 44px;

    svg path {
      fill: currentColor;
      transition: fill 0.2s;
    }

    &:hover {
      color: var(--navbar-active);
    }
  }

  .game-actions {
    position: relative;
    display: flex;
    flex-direction: column;

    .toggle {
      align-self: flex-end;
      border: none;
      color: var(--navbar-inactive);
      font-size: var(--text-2xl);
      padding: var(--space-xs-fixed);
      cursor: pointer;
      position: relative;
      transition: color 0.2s;
      display: flex;
      justify-content: center;
      width: 44px;
      height: 44px;
      background-color: var(--navbar-background);
      border-radius: 10px;
    }

    &:focus-within .toggle,
    &:hover .toggle,
    .toggle:hover {
      color: var(--navbar-active);
    }

    .gameTools {
      position: absolute;
      opacity: 1;
      pointer-events: all;
      transition: all 0.2s;
      background-color: var(--navbar-background);
      border-radius: 5px;
      z-index: 2;
      padding: 0;
      max-height: 0px;
      overflow: hidden;
      right: 0;
      top: 112%;
    }

    .gameTools .link {
      width: 100%;
      padding: 0 0 0.5rem;
      text-align: start;
      white-space: nowrap;
      font-size: 1rem;
      background: none;
      color: var(--navbar-inactive);

      &:hover {
        color: var(--navbar-active);
      }

      &:last-child {
        padding-bottom: 0;
      }
    }

    &:focus-within .gameTools,
    &:hover .gameTools {
      opacity: 1;
      pointer-events: all;
      padding: var(--space-md);
      max-height: 100vh;
      box-shadow: 4px 5px 5px -2px rgba(0, 0, 0, 0.2);
    }
  }

  & .backgroundImage {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    filter: blur(15px);
    opacity: 0.3;
  }
}

.App:not(.oldDesign).isRTL .gameConfigContainer .game-actions .gameTools {
  left: 0;
  right: unset;
}

.gameConfigContainer {
  .wikiLink {
    background: var(--status-warning);
    color: black;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    align-self: flex-start;
    & svg {
      margin-inline-end: 0.5rem;
    }
    & a {
      color: black;
      text-decoration: underline;
    }
  }
}
// Media queries
@media (max-width: 1280px) and (max-height: 800px) {
  .App:not(.oldDesign) .gameConfigContainer {
    padding: var(--space-md);
    gap: var(--space-xs);
    grid-template-columns: minmax(400px, 50%) minmax(400px, 50%);

    .mainInfo {
      padding: max(10vh, 80px) min(3vw, 50px) min(3vh, 20px);
    }

    .extraInfo {
      padding: 1vh 1vw;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'header'
        'left'
        'right'
        'report';

      .mainInfoWrapper,
      .extraInfoWrapper {
        justify-self: center;
      }
    }
  }
}
