// colors
// initial gradient, non-final
$darker: #151218;
$dark: #323035;
$mid: #7d7881;
$light: #b0abb6;
$lighter: #e4deea;

$darker-hover: lighten($darker, 15%);
$dark-hover: lighten($dark, 15%);
$mid-hover: lighten($mid, 15%);
$light-hover: lighten($light, 15%);
$lighter-hover: lighten($lighter, 15%);
//moar colors
$primary: #5c32be;

// auto-color cat-culations
// pulled from @octoshrimpy https://codepen.io/octoshrimpy/pen/WmPVBb
$num: 50%;

@function pure($hue) {
  @return hsl($hue, 100%, 50%);
}

$red: pure(0);
$yellow: pure(60);
$green: pure(120);
$teal: pure(180);
$blue: pure(240);

$primary-dark: darken($primary, 15%);
$primary-light: lighten($primary, 15%);

$success: mix($primary, $green, $num);
$warning: mix($primary, $yellow, $num);
$danger: mix($primary, $red, $num);
$info: mix($primary, $teal, $num);

$success-light: lighten($success, 15%);
$warning-light: lighten($warning, 15%);
$danger-light: lighten($danger, 15%);
$info-light: lighten($info, 15%);

// values
$border-radius: 0.5rem;
$border-radius-big: 1rem;
