@import '~@fontsource/rubik/index.css';
@import '~@fontsource/cabin/index.css';

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: var(--text-primary);
  display: grid;
  grid-template-columns: 275px calc(100vw - 275px);
  font-family: 'Cabin', sans-serif;
}

.App .content {
  display: grid;
  place-content: center;
  height: 100%;
  margin-left: 275px;
  width: calc(100vw - 275px);
}

.button {
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 10px;
  background: var(--background-secondary);
  color: #1a1b1c;
  text-transform: uppercase;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #161616;
  border: none;
  outline: none;
  min-width: 170px;
  max-height: 40px;
  text-align: center;
  transition: 500ms;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button.is-small {
  min-width: 130px;
}

.button:hover {
  background: #58545d;
}

.button.is-primary {
  background: var(--primary);
}

.button.is-primary:hover {
  background: var(--primary-hover);
}

.button.is-primary:disabled {
  color: var(--text-secondary);
  background: var(--background-secondary);
  pointer-events: none;
}

.button.is-tertiary {
  background: var(--secondary);
}

.button.is-tertiary:hover {
  background: var(--secondary-hover);
}

.button.is-empty {
  background: transparent;
  text-decoration: underline;
}

.button.is-success {
  background: var(--success);
}

.button.button.is-success:hover {
  background: var(--success-hover);
}

.button.is-success:hover:disabled,
.button.is-success:disabled {
  background: var(--background);
  color: #b0abb6;
}

.button.is-danger {
  background: var(--tertiary);
  color: var(--danger);
}

.button.is-danger:hover {
  background: var(--tertiary-hover);
}

.button.is-danger:disabled {
  background: var(--background);
  color: #b0abb6;
}

.material-icons.is-primary {
  color: var(--primary);
}

.material-icons.is-secondary {
  color: var(--secondary);
}

.material-icons.is-success {
  color: var(--success);
}

.material-icons.is-danger {
  color: var(--danger);
}

.material-icons.is-danger:hover {
  color: var(--danger-hover);
}

.material-icons.settings.folder {
  position: relative;
  right: 42px;
  top: 5px;
  cursor: pointer;
}

.button.settings {
  margin-left: -12px;
  background: var(--text-secondary);
}

.button.settings:hover {
  background: #7c7c7c;
}

.button.settings:disabled:hover,
.button.settings:disabled {
  background: #7c7c7c;
}

.icons > * {
  cursor: pointer;
}

.settingSelect {
  width: 513px;
  height: 40px;
  background: var(--background);
  border-radius: 10px;
  font-family: Cabin;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-secondary);
  text-indent: 22px;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

svg.disabled {
  color: var(--background);
}
