* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: #B0ABB6;
  display: flex;
  flex-direction: column;
  font-family: 'Cabin', sans-serif;
}

.App .header {
  display: grid;
  width: 1194px;
  place-self: center;
  place-content: center;
  height: 84px;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;  
  color: #C1C4C3;
}

.App .header .leftCluster, .App .header .rightCluster {
  display: flex;
  cursor: pointer;
}

.App .pageTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  z-index: -1;
  margin-top: 2rem;
}

.NavBar {
  height: 77px;
  position: sticky;
  top: 0;
  background: #424546;
  box-shadow: 0px 4.00313px 10.0078px #161616;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 5fr 1fr;
  grid-template-areas: "links search user";
  z-index: 99;
}

.NavBar  .Links {
  grid-area: links;
  position: absolute;
  font-size: 20px;
  line-height: 23.7px;
  font-weight: 400;
  width: 282px;
  height: 25px;
  left: 43px;
  top: 26px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Rubik', sans-serif;
}

.NavBar .SearchBar {
  grid-area: search;
  margin: auto;
  position:absolute;
  top: 16px;
}

.NavBar .UserSelector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: user;
  position: absolute;
  right: 16px;
  top: 17px;
  width: 174px;
  height: 39px;
  background: #1A1B1C;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  margin: auto;
  transition: 150ms;
  text-align: center;
}

.UserSelector .userName {
  position: relative;
  font-family: Cabin;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #07C5EF;
  margin-bottom: 8px;
  margin-left: 25%;
}

.UserSelector .hidden {
  display: block;
  color: #EAE8E5;
  cursor: pointer;
  transition: 75ms;
  opacity: 0;
}

.UserSelector:hover {
  height: 112px;
}

.UserSelector:hover  > .hidden {
  display: block;
  opacity: 1;
}

.userName > .material-icons {
  position: relative;
  top: 8px;
}

.searchInput {
  width: 388px;
  height: 39px;
  background: #1a1b1c;
  border-radius: 10px;
  border: none;
  color: #F69707;
  text-indent: 38px;
  font-size: 14px;
  outline: none;
}

.SearchBar > .material-icons {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #F69707;
}

.SearchBar > .close {
  position: relative;
  left: -30px;
}

.gameList {
  color: #E4DEEA;
  display: grid;
  grid-template-columns: minmax(210px, max-content) repeat(auto-fill, 210px) 10%;
  grid-gap: 30px 34px;
  padding: 0 4rem 0 4rem;
}

.gameCard {
  background-color: #323035;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  height: 280px;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.gameTitle {
  position: absolute;
  bottom: -92px;
  height: 92px;
  width: 100%;
  padding: 1rem;
  color: #E4DEEA;
  display: flex;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.418) 2.4%, rgba(20, 21, 21, 0.863) 30%);
  border-radius: 0px 0px 10px 10px;
  transition: 200ms;
}

.gameTitle > i {
  font-size: 32px;
  align-self: flex-end;
}

.gameCard:hover > .gameTitle {
  bottom: 0;
}

.gameCard .gameTitle span {
  flex-grow: 1;
}

.gameImg {
  width: 210px;
  height: 280px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.installProgress[value] {
  appearance: none;
  width: 169px;
  height: 5px;
}

.installProgress[value]::-webkit-progress-value {
  color: #0BD58C;
  animation: animate-stripes 5s linear infinite;
}

.Settings {
  display: flex;
  justify-content: center;
}

.settingsNavbar {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-right: 82px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #EAE8E5;
}

.settingsNavbar > a {
  padding-bottom: 18px;
}

.settingsWrapper {
  width: fit-content;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settingsTools {
  margin: 16px auto;
}

.setting {
  display: grid;
  place-items: baseline;
  margin: 16px;
}

.settingText {
  margin-bottom: 14px;
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #EAE8E5;
}

.settingSelect {
  width: 513px;
  height: 40px;
  background: #424546;
  border-radius: 10px;
  font-family: Cabin;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #C1C4C3;
  text-indent: 22px;
  outline: none;
  border: none;
}

.settingSelect.small {
  width: 360px;
}

.settingSelect > option {
  background: #424546;
  height: 40px;
  color: #C1C4C3;
  text-indent: 22px;
  font-size: 16px;
  border-radius: 10px;
}

.save {
  align-self: center;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.save > .material-icons {
  font-size: 28px;
  margin-left: 6px;
}

.Login {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.loginBackground {
  position: absolute;
  height: 100%;
  width: 100%;
  align-self: center;
  background: url('./assets/login-background-1536x864.jpg');
  z-index: -1;
  opacity: 0.4;
}

.heroicLogo {
  width: 205px;
  height: 48px;
  place-self: baseline;
  margin-bottom: 31px;
}

.heroicText {
  width: 150px;
  height: 47px;
  margin-left: 57px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroicTitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #FFA800;
}

.heroicSubTitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 24.3px;
  color: #EAE8E5;
}

.logo {
  background: url('./assets/heroic-icon.png');
  background-size: contain;
  position: absolute;
  width: 46px;
  height: 46px;
}

.loginFormWrapper {
  display: grid;
  place-items: center;
  place-content: center;
  width: 826px;
  height: 475px;
  background: rgba(29, 31, 31, 0.95);
  border-radius: 10px;
}

.loginInstructions {
  margin: 22px;
  height: 219px;
  font-family: Cabin;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: white;
}

.loginInstructions strong {
  color: #E00D0D;
}

.loginInstructions .epicLink {
  color: #F69707;
  cursor: pointer;
  text-decoration: underline;
}

.loginInstructions .sid {
  color:#07C5EF
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 150px;
  align-self: center;
}


.loginInput {
  width: 388px;
  height: 63px;
  background: #424546;
  border-radius: 10px;
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  outline: none;
  color: #EAE8E5;
  text-align: center;
  border: none;
}

.loginInput::placeholder {
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #EAE8E5;
}

.loginForm > .message {
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #07C5EF;
  display: flex;
}

.message > .material-icons {
  font-size: 16px;
  margin-left: 4px;
  animation: refreshing 1.5s infinite;
}

.gameConfigContainer {
  width: 1194px;
  background: rgba(13, 14, 14, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: auto;
  display: grid;
  position: relative;
  place-items: flex-start;
}

.gameConfig {
  display: flex;
  align-self: center;
  min-width: 780px;
  max-width: 800px;
  margin: 32px 64px;
}

.gameConfig .title {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #F79707;
}

.gameInfo {
  text-align: initial;
  padding-left: 3.5rem;
  font-size: 1rem;
  color: #E4DEEA;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.gameInfo > .settingSelect {
  width: 270px;
  margin-bottom: 12px;
}

.gameInfo .infoWrapper {
  color: #B0ABB6;
  flex-grow: 1;
}

.gameInfo .infoWrapper * {
  margin-bottom: 0.5rem;
}

.gameInfo .developer {
  padding: 1rem 0 1rem 0;
  color: #E4DEEA;
}

.gameInfo .summary {
  font-family: Cabin;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #EAE8E5;
}

.buttonsWrapper {
  width: 380px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: baseline;
}

.button {
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 10px;
  background: #323035;
  color: #1A1B1C;
  text-transform: uppercase;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #161616;
  border: none;
  outline: none;
  min-width: 170px;
  text-align: center;
  transition: 500ms;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background: #58545d;
}

.button.is-primary {
  background: #07C5EF;
}

.button.is-tertiary {
  background: #FFA800;
}

.button.is-tertiary:hover {
  background: #FEBA36;
}

.button.is-empty {
  background: transparent;
  text-decoration: underline;
}

.button.is-success {
  background: #0BD58C;
}

.button.button.is-success:hover{
  background: #30ECA8;
}

.button.is-danger {
  background: #252121;
  color: #BD0A0A;
}

.button.is-danger:hover {
  background: #322B2B;
}

.button.is-danger:disabled {
  background:#424546;
  color: #B0ABB6;
}

.material-icons.is-primary {
  color: #07C5EF;
}

.material-icons.is-secondary {
  color: #FFA800;
}

.material-icons.is-success {
  color: #4bc984;
}

.material-icons.settings.folder {
  position: relative;
  right: 42px;
  top: 5px;
  cursor: pointer;
}

.button.settings {
  margin-left: 12px;
  background: #C1C4C3
}

.button.settings:hover {
  background: #EAE8E5
}

.button.login{
  background: #07C5EF;
  font-size: 14px ;
}

.button.login:hover{
  background: #36D1F3;
}

.button.login:disabled {
  color: #DADADA;
  background: #5A5E5F;
}

.returnLink {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  width: 100px;
  margin: 85px 0 65px -25px;
  height: fit-content;
}

.clickable {
  cursor: pointer;
  color: #F79707;
}

.more {
  position: absolute;
  top: 64px;
  right: 72px;
  color: #FFA800;
  font-size: 25px;
  width: 170px;
  height: 108px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-radius: 10px;
  margin: auto;
  transition: 150ms;
  text-align: center;
  padding: 10px;
}

.dots {
  position: absolute;
  right: 70px;
  top: 75px;
  width: 25px;
  z-index: 1;
}

.link {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.linkTitle {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #07C5EF;

}
.more .hidden {
  opacity: 0;
}

.more:hover {
  background: #1A1B1C;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.45);
}

.more:hover > .hidden {
  opacity: 1;
  cursor: pointer;
}

.installedSwitch {
  display: flex;
  align-items: center;
  place-self: center;
  justify-content: space-evenly;
  width: 140px;
}

.totalGamesText {
  right: 55px;
  top: 108px;
}

.updateIcon {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 24px;
  justify-content: center;
  flex-direction: column;
  color: #EAE8E5;
}

.updateIcon .material-icons {
  font-size: 40px;
  animation: refreshing 1.5s infinite;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 11px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  border: 2px solid;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 6px;
  width: 6px;
  left: 2px;
  bottom: 1px;
  background-color: #DADADA;;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  border-color: #FFA800;
}

input:checked  span {
  color: #FFA800;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFA800;
}

input:checked + .slider:before {
  background-color: #FFA800;
  transform: translateX(9px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@keyframes animate-stripes {
  100% { background-position: -100px 0px; }
}

@keyframes refreshing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}