// out: ./App.css

@import '_lib.scss';

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: $light;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    padding: 1rem;
    margin-bottom: 4rem;
    justify-content: space-between;

    .leftCluster,
    .rightCluster {
      display: flex;
      cursor: pointer;
    }
  }

  .pageTitle {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    z-index: -1;
    margin-top: 2rem;
  }
}

.gameList {
  color: $lighter;
  display: grid;
  grid-template-columns: minmax(210px, max-content) repeat(auto-fill, 210px) 10%;
  grid-gap: 1rem;
  padding: 0 4rem 0 4rem;
}

.gameCard {
  background-color: $dark;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 195px;
  height: 300px;
  border-radius: $border-radius-big;
  overflow: hidden;
  position: relative;

  .gameTitle {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background: $dark;
    color: $lighter;
    display: flex;

    span {
      flex-grow: 1;
    }
  }
}

.gameImg {
  width: 15rem;
  height: 20rem;
  border-radius: $border-radius;
  object-fit: cover;
}

.gameConfig {
  display: flex;
  align-self: center;
  min-width: 780px;
  max-width: 800px;
  .title {
    font-size: 2rem;
  }
}

.gameInfo {
  text-align: initial;
  padding-left: 1.5rem;
  font-size: 1rem;
  color: $lighter;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;

  .title {
    font-weight: bold;
  }

  .infoWrapper {
    margin-left: 1rem;
    color: $light;
    flex-grow: 1;

    * {
      margin-bottom: 0.5rem;
    }
  }

  .developer {
    padding: 1rem 0 1rem 0;
    color: $lighter;
  }
}
// not needed
// .infoWrapper {
//   // min-height: 210px;
// }

.buttonsWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.button {
  cursor: pointer;
  padding: 0.75rem;
  border-radius: $border-radius;
  text-transform: uppercase;
  background: $dark;
  color: $lighter;
  font-size: 1rem;

  &:hover {
    background: $dark-hover;
  }

  &.is-primary {
    background: $primary;
  }

  &.is-empty {
    background: transparent;
    text-decoration: underline;
  }

  &.is-success {
    background: $success;
  }

  &.is-danger {
    background: $danger;
  }
}

.material-icons {
  &.is-primary {
    color: $primary-light;
  }

  &.is-success {
    color: $success-light;
  }
}
