* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: #B0ABB6;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
}

.App .header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.App .header .leftCluster, .App .header .rightCluster {
  display: flex;
  cursor: pointer;
}

.App .pageTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  z-index: -1;
  margin-top: 2rem;
}

.NavBar {
  height: 77px;
  position: sticky;
  top: 0;
  background-color: #424546;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 5fr 1fr;
  grid-template-areas: "links search user";
  z-index: 99;
}

.NavBar  .Links {
  grid-area: links;
  position: absolute;
  font-size: 20px;
  line-height: 23.7px;
  font-weight: 400;
  width: 282px;
  height: 25px;
  left: 43px;
  top: 26px;
  display: flex;
  justify-content: space-between;
}

.NavBar .SearchBar {
  grid-area: search;
  margin: auto;
}

.NavBar .UserSelector {
  grid-area: user;
}

.SearchBar .searchInput {
  width: 388px;
  height: 39px;
  background: #1a1b1c;
  border-radius: 10px 0px 0px 10px;
  border: none;
  color: #F69707;
  text-indent: 24px;
  font-size: 14px;
  outline: none;
}

.SearchBar .searchButton {
  width: 123px;
  height: 39px;
  background: #F79707;
  border-radius: 0px 10px 10px 0px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
}

.searchButton:hover {
  background-color: #f69607e7;
}

.gameList {
  color: #E4DEEA;
  display: grid;
  grid-template-columns: minmax(210px, max-content) repeat(auto-fill, 210px) 10%;
  grid-gap: 1rem;
  padding: 0 4rem 0 4rem;
}

.gameCard {
  background-color: #323035;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 195px;
  height: 300px;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.gameCard .gameTitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background: #323035;
  color: #E4DEEA;
  display: flex;
}

.gameCard .gameTitle span {
  flex-grow: 1;
}

.gameImg {
  width: 15rem;
  height: 20rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: fit-content;
}

.Login input {
  height: 36px;
  width: 100%;
  margin: 16px auto;
}

.Login p {
  font-size: 16px;
}

.Login li {
  text-align: left;
}

.gameConfig {
  display: flex;
  align-self: center;
  min-width: 780px;
  max-width: 800px;
}

.gameConfig .title {
  font-size: 2rem;
}

.gameInfo {
  text-align: initial;
  padding-left: 1.5rem;
  font-size: 1rem;
  color: #E4DEEA;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.gameInfo .title {
  font-weight: bold;
}

.gameInfo .infoWrapper {
  margin-left: 1rem;
  color: #B0ABB6;
  flex-grow: 1;
}

.gameInfo .infoWrapper * {
  margin-bottom: 0.5rem;
}

.gameInfo .developer {
  padding: 1rem 0 1rem 0;
  color: #E4DEEA;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.button {
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  background: #323035;
  color: #E4DEEA;
  font-size: 1rem;
}

.button:hover {
  background: #58545d;
}

.button.is-primary {
  background: #5c32be;
}

.button.is-empty {
  background: transparent;
  text-decoration: underline;
}

.button.is-success {
  background: #2e995f;
}

.button.is-danger {
  background: #ae195f;
}

.material-icons.is-primary {
  color: #8866d7;
}

.material-icons.is-success {
  color: #4bc984;
}
