// out: ./App.css

@import "_lib.scss";

.App {
  text-align: center;
  color: $light;
  display: flex;
  flex-direction: column;

  .topBar {
    display: flex;
    padding: 1rem;
    margin-bottom: 3rem;
    justify-content: space-between;

    .title {
      position: absolute;
      text-align: center;
      flex-grow: 1;
      font-size: 2rem;
      font-weight: bold;
      width: 100%;
      z-index: -1;
    }
    
    .leftCluster, .rightCluster {
      display: flex;
      cursor: pointer;
    }
  }
}

.gameList {
  color: $lighter;
  display: grid;
  grid-template-columns: minmax(210px, max-content) repeat(auto-fill, 210px) 4%;
}

.gameCard {
  margin: 0 4px;
  background-color: $dark;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 195px;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 6px;
}

.gameImg {
  width: 15rem;
  height: auto;
  border-radius: $border-radius;
  object-fit: cover;
}

.gameTitle {
  text-align: center;
  margin: auto 4px;
  font-size: 14px;
}

// unused
// .gameCard:hover {
//   background-color: #0078F2;
// }

.gameConfig {
  display: flex;
  align-self: center;
  min-width: 780px;
  max-width: 800px;
  .title {
    font-size: 2rem;
  }
}

.gameInfo {
  text-align: initial;
  padding-left: 1.5rem;
  font-size: 1rem;
  color: $lighter;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  
  .title  {
    font-weight: bold;
  }
  
  *:not(.title) {
    margin-left: 1rem;
    color: $light;
    margin-bottom: 0.5rem;
  }

  .developer {
    padding: 1rem 0 1rem 0;
    color: $lighter;
  }

}

.infoWrapper {
  min-height: 210px;
}

.buttonsWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.button {
  width: fit-content;
  padding: 0 12px;
  border-radius: 5px;
  text-transform: uppercase;
  background: $dark;
  margin: 6px 8px;
  font-size: 18px;

  &:hover {
    background: $dark-hover;
  }
}
