@import '~@fontsource/rubik/index.css';
@import '~@fontsource/cabin/index.css';
* {
  box-sizing: border-box;
}

body,
html,
#root,
.App {
  height: 100%;
  overflow: hidden;
}

.App {
  text-align: center;
  color: var(--text-default);
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-areas: 'sidebar content';
  font-family: 'Cabin', sans-serif;
}

.App .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.App .content .updateIcon {
  height: 100vh;
  position: initial;
  width: var(--content-width);
}

.button {
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 10px;
  background: var(--background);
  color: #1a1b1c;
  text-transform: uppercase;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #161616;
  border: none;
  min-width: 170px;
  max-height: 40px;
  text-align: center;
  transition: 500ms;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button.is-small {
  min-width: 130px;
}

.button:hover {
  background: #58545d;
}

.button.is-primary {
  background: var(--link-highlight);
}

.button.is-primary:hover {
  background: var(--text-hover);
}

.button.is-primary:disabled {
  color: var(--text-secondary);
  background: var(--background-secondary);
  pointer-events: none;
}

.button.is-secondary {
  background: var(--accent);
}

.button.is-tertiary {
  background: var(--background-color);
  color: white;
}

.button.is-tools:hover,
.button.is-tools:focus-visible {
  background-color: var(--stop-button);
}
.button.is-tools:hover .toolTitle,
.button.is-tools:focus-visible .toolTitle {
  transition: 500ms;
  color: var(--text-hover);
}

.button.is-secondary:hover {
  background: var(--download-button-overlay);
  color: var(--text-secondary);
}

.button.is-empty {
  background: transparent;
  text-decoration: underline;
}

.button.is-danger {
  background: var(--input-background);
  color: var(--danger-hover);
}

.button.is-danger:hover,
.button.is-danger:focus-visible {
  background: var(--danger);
  color: var(--text-secondary);
}

.button.is-success {
  background: var(--success);
}

.button.is-success:hover {
  background: var(--success-hover);
}

.button.is-success:hover:disabled,
.button.is-success:disabled {
  background: var(--background);
  color: var(--text-default);
}

.material-icons.is-primary {
  /* I can't find any elements that use this, so idk what colour this should be */
  color: var(--danger);
}

.material-icons.is-secondary {
  color: var(--download-button);
}

.material-icons.is-success {
  color: var(--success);
}

.material-icons.is-danger {
  color: var(--danger);
}

.material-icons.is-danger:hover {
  color: var(--danger-hover);
}

.material-icons.settings.folder {
  position: relative;
  right: 42px;
  top: 5px;
  cursor: pointer;
  color: var(--text-default);
}

.button.settings {
  margin-left: -12px;
  background: var(--text-secondary);
}

.button.settings:hover {
  background: #7c7c7c;
}

.button.settings:disabled:hover,
.button.settings:disabled {
  background: #7c7c7c;
}

.button.is-text {
  border: none;
  border-radius: 0;
  background: transparent;
  color: var(--text-default);
  box-shadow: none;
  text-transform: none;
  min-width: fit-content;
  font-family: Cabin;
  font-size: 14px;
}

.button.is-text:hover {
  color: var(--text-hover);
}

.button.is-link {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: var(--accent);
  margin: 4px 0px;
  cursor: pointer;
  padding: 0.25rem;
}

.button.is-link:hover {
  color: var(--text-hover);
}

.icons > * {
  cursor: pointer;
}

.settingSelect {
  width: 513px;
  height: 40px;
  background: var(--input-background);
  border-radius: 10px;
  font: var(--font-secondary-bold);
  font-size: 16px;
  line-height: 19px;
  color: var(--text-secondary);
  text-indent: 22px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.settingSelect ~ span {
  margin-block: auto;
}

.settingSelect.is-drop-down {
  cursor: pointer;
}

.settingText {
  margin-bottom: 14px;
  font: var(--font-secondary-regular);
  font-size: 16px;
  line-height: 19px;
  color: var(--text-secondary);
}

.smallMessage {
  font-size: 12px;
  width: 513px;
  white-space: break-spaces;
  padding-top: 4px;
}

svg.disabled {
  color: var(--background);
}

.react-contextmenu--visible {
  background-color: var(--background);
  padding: 14px 22px;
  border-radius: 6px;
  z-index: 99;
}

.react-contextmenu-item {
  color: var(--text-default);
  font-size: 14px;
  line-height: 26px;
  font-family: Rubik;
  cursor: pointer;
  text-align: left;
}

.react-contextmenu-item:hover {
  color: var(--download-button);
}

.react-contextmenu-item.disabled {
  color: var(--icon-disabled);
  cursor: initial;
}

.isRTL {
  direction: rtl;
}
