html {
  overflow-y: overlay;
}

body {
  margin: 0;
  font-family: -apple-system, Cabin, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1f1f;
}

a {
  color: #e4deea;
  text-decoration: none;
}

code {
  font-family: Cabin, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
