html {
  /* Colours */
  --navbar-background: #151f3d;
  --input-background: #0d0f1c;
  --body-background: #13172a;
  --tooltip-background-color: #0d0e0e;
  --menu-background-color: #0d0e0e;
  --modal-backdrop: #00000048;
  --text-hover: #59d0ea;
  --link-highlight: #07c5ef;
  --accent: #eaa114;
  --input-background: #0d0f1c;
  --login-background: #13172a;
  --login-card-background: #03030355;
  --play-button: #59d0ea;
  --download-button: #3082d9;
  --download-button-overlay: #5a5e5f;
  --stop-button: #252121;
  --scrollbar-thumb: #ffffff33;
  --favourite-active: #97f4e9;
  --favourite-inactive: #eae8e5;
  --danger: #bd0a0a; /* These success, danger and disabled colours need to be documented */
  --success: #0bd58c;
  --success-hover: #30eca8;
  --danger-hover: #bd0a0a;
  --icon-disabled: #625e69;
  /* Gradients */
  --gradient-welcome: linear-gradient(#13172a 100%, #13172a 89%, #13172a 0%);
  --gradient-big-game-menu: linear-gradient(
    #13172a 100%,
    #1d1f1f 31.77%,
    #1d1f1f 0%
  );
  --gradient-gamecard: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.418) 2.4%,
    #0d0f1cd2 64%
  );
  --gradient-game-hover: linear-gradient(#000000 30.8%, #141515 77%);
  /* Text colours */
  --text-default: #eae8e5;
  --text-secondary: #b1b1b1;
  --text-pause-cancel: #97f4e9;
  --text-stop: #97f4e9;
  --text-tertiary: #101111; /* This is not defined in figma */
  --text-quartenary: #5a5e5f; /* this is meant to be a background colour */
  --text-danger: #d22121;
  /* Fonts */
  --font-primary-regular: Rubik normal 400;
  --font-primary-bold: Rubik normal 500;
  --font-primary-bolder: Rubik normal 700;
  --font-secondary-regular: Cabin normal 400;
  --font-secondary-bold: Cabin normal 500;
  --font-secondary-regular-italic: Cabin italic 400;
  --font-secondary-bold-italic: Cabin italic 500;
  /* Measurements */
  --sidebar-width: 218px;
  --content-width: calc(100vw - var(--sidebar-width));
  overflow-y: overlay;
  /* Effects */
  --blur-light: 4px;
  --blur-strong: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, Cabin, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-background);
  user-select: none;
}

a {
  color: var(--text-default);
  text-decoration: none;
}

code {
  font-family: Cabin, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Overlay Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 4px;
}

.simple-keyboard {
  position: fixed;
  z-index: 10;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
