html {
  --background: #424546;
  --background-darker-80: rgba(13, 14, 14, 0.8);
  --background-darker: rgba(13, 14, 14);
  --background-transparent: rgba(66, 69, 70, 0.9);
  --background-transparent-62: rgba(66, 69, 70, 0.62);
  --background-secondary: #323035;
  --searchbar-background: rgba(26, 27, 28, 0.5);
  --primary: #07c5ef;
  --secondary: #ffa800;
  --tertiary: #1d1f1f;
  --danger: #bd0a0a;
  --success: #0bd58c;

  --primary-hover: #36d1f3;
  --secondary-hover: #feba36;
  --tertiary-hover: #322b2b;
  --success-hover: #30eca8;
  --danger-hover: #bd0a0a;

  --text-primary: #eae8e5;
  --text-secondary: #c1c4c3;
  overflow-y: overlay;
}

body {
  margin: 0;
  font-family: -apple-system, Cabin, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d1f1f;
}

a {
  color: #e4deea;
  text-decoration: none;
}

code {
  font-family: Cabin, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
