.changelogModalContent {
  a {
    color: var(--accent);
    font-weight: var(--weight-bold);
  }

  img,
  video {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 1rem auto;
    border-radius: var(--radius-xs);
  }
}
