.SearchBar {
  grid-area: search;
  margin: auto;
  position: absolute;
  top: 16px;
}

.searchInput {
  width: 388px;
  height: 39px;
  background: var(--searchbar-background);
  border-radius: 10px;
  border: none;
  color: var(--secondary);
  text-indent: 38px;
  font-size: 14px;
  outline: none;
}

.SearchBar > label {
  position: absolute;
  top: 8px;
  left: 10px;
  color: var(--secondary);
}

.SearchBar > .close {
  position: relative;
  left: -30px;
  top: 7px;
}

.SearchBar > .close:hover {
  cursor: pointer;
}
