.runnerWrapper {
  background-color: var(--background-darker-80);
  padding: 20px;
  border-radius: 15px;
  min-width: min(500px, 30%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(10px);
}

.runnerWrapper > h1 {
  color: var(--text-default);
}

.logged {
  color: var(--danger);
  cursor: pointer;
}

.logged:hover {
  background-color: var(--danger-hover);
  color: var(--text-secondary);
}

.runnerLogin {
  padding: 10px;
  font-size: 30px;
  border-radius: 15px;
  background-color: var(--input-background);
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.runnerWrapper img,
.runnerWrapper svg {
  width: 100px;
  margin: 20px;
  fill: #fff;
}

.userData {
  color: var(--text-secondary);
  /* For longer nicknames */
  overflow: hidden;
  font-size: 20px;
  margin: 10px 0;
}
