.freeProductItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
  max-height: 266px;
  min-height: 173px;
  overflow: hidden;
  border-radius: 0.5rem;
  }

.freeProductItem :hover {
    opacity: 0.7;
  }

.productImg {
  height: 20vw;
  max-width: 350px;
  max-height: 200px;
  border-radius: 0.5rem;
}

.freeProductsContainer {
  display: grid;
  justify-content: center;
  background-color: var(--background-transparent);
  grid-template-columns: auto auto;
  place-self: center;
  align-items: center;
  width: 70vw;
  min-width: 513px;
  max-width: 912px;
  border-radius: 1rem;
  padding: 24px;
  grid-gap: 1rem;
}