.InstallModal__dialog {
  width: 38vw;
  height: fit-content;
  min-width: fit-content;
  max-height: 95vh;
}

.InstallModal__dialog--loading {
  width: 200px;
  height: 200px;
}

.InstallModal__platformIcon {
  margin-left: 16px;
}

.InstallModal__sizes {
  display: inline-grid;
  grid-gap: 24px;
  grid-auto-flow: column;
  margin: var(--space-xs) 0;
}

.InstallModal__size {
  display: inline-grid;
  grid-template-areas: 'icon label' 'icon value';
}

.InstallModal__sizeIcon {
  grid-area: icon;
  align-self: center;
  height: 28px;
  margin-right: var(--space-md);
  color: var(--text-secondary);
}

.InstallModal__sizeLabel {
  grid-area: label;
  line-height: 20px;
  color: var(--text-secondary);
}

.InstallModal__sizeValue {
  grid-area: value;
  line-height: 24px;
}

.InstallModal__sectionHeader {
  margin: var(--space-md) 0;
  color: var(--text-secondary);
}

.InstallModal__toggle {
  display: flex;
  align-items: center;
  margin: var(--space-md) 0;
  cursor: pointer;
}

.InstallModal__toggle .switch {
  margin: 0 var(--space-xs) 0 var(--space-sm);
  transform: scale(1.5) translateX(33%);
}

.InstallModal__dlcs,
.InstallModal__sdls {
  margin: 0 var(--space-md);
}

.InstallModal__dlcsList {
  max-width: 300px;
  margin: var(--space-md)
    calc(var(--space-md) + var(--space-xs) + var(--space-sm));
  color: var(--text-default);
}

.diskSpaceInfo {
  font-size: var(--text-sm);
  align-self: flex-start;
  padding: var(--space-3xs) 0 var(--space-3xs) var(--space-xs);
  color: var(--text-secondary);
}

.sideloadForm {
  padding-left: var(--space-xs);
}

.sideloadGrid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 3fr;
}

.sideloadGrid .textInputFieldWrapper.Field .selectFieldWrapper.Field {
  margin: 0 var(--space-xs);
}

.imageIcons {
  margin: var(--space-lg) var(--space-lg) 0 0;
  width: min-content;
}

.appImage {
  margin-bottom: var(--space-md);
  aspect-ratio: 3 / 4;
  object-fit: cover;
  display: block;
  max-width: 210px;
}

.titleIcon {
  word-break: break-word;
  display: flex;
  justify-content: space-between;
}
