.InstallModal__dialog {
  width: 700px;
  min-height: fit-content;
  max-height: 90vh;
  min-width: fit-content;
  max-width: 80vw;

  .infoBox {
    max-width: 630px; // kidna magic number, TODO: find a better way to limit this width
    svg {
      margin-inline-end: 0.5rem;
    }
  }

  & summary {
    font-size: var(--text-lg);
  }
}

.InstallModal__dialog > .anticheatInfo {
  display: flex;
  padding: var(--space-xs) var(--space-md);
  gap: 0.4rem;
  margin: var(--space-md) var(--dialog-margin-horizontal) 0;
  border-radius: 20px;
  background-color: var(--current-background);
  min-width: min-content;
  max-width: 560px;
}

.InstallModal__dialog--loading {
  width: 200px;
  height: 200px;
}

.InstallModal__platformIcon {
  margin-inline-start: 16px;
}

.InstallModal__sizes {
  display: inline-grid;
  grid-gap: 24px;
  grid-auto-flow: column;
  margin: var(--space-xs) 0;
}

.InstallModal__size {
  display: inline-grid;
  grid-template-areas: 'icon label' 'icon value';
}

.InstallModal__sizeIcon {
  grid-area: icon;
  align-self: center;
  height: 28px;
  margin-inline-end: var(--space-md);
  color: var(--text-secondary);
}

.InstallModal__sizeLabel {
  grid-area: label;
  line-height: 20px;
  color: var(--text-secondary);
}

.InstallModal__sizeValue {
  grid-area: value;
  line-height: 24px;
}

.InstallModal__sectionHeader {
  margin: var(--space-md) 0;
  color: var(--text-secondary);
}

.InstallModal__toggle {
  display: flex;
  align-items: center;
  margin: var(--space-md) 0;
  cursor: pointer;
  white-space: nowrap;
}

.InstallModal__toggle .switch {
  margin: 0 var(--space-xs) 0 var(--space-sm);
  transform: scale(1.5) translateX(33%);
}

.InstallModal__dlcs,
.InstallModal__sdls {
  margin: 0 var(--space-md);

  .InstallModal__toggle--sdl {
    padding: 0 !important;
  }
}

.InstallModal__dlcsList {
  max-width: 300px;
  color: var(--text-default);
}

.sideloadForm {
  padding-inline-start: var(--space-xs);
}

.sideloadImportHint {
  a {
    text-decoration: underline;
  }
}
