.selectWrapper select {
  width: 100%;
  max-width: 513px;
  height: 40px;
  background: var(--input-background);
  border-radius: 10px;
  font-family: var(--content-font-family), 'Noto Color Emoji';
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-secondary);
  text-indent: 22px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--text-secondary) 50%
    ),
    linear-gradient(135deg, var(--text-secondary) 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 100px;
}

.selectWrapper select:disabled {
  cursor: not-allowed;
}

.selectWrapper select.small {
  width: clamp(150px, 10rem, 372px);
}

.selectWrapper select.smaller {
  width: 66px;
  text-indent: 11px;
}

.selectWrapper select > option {
  background: var(--navbar-background);
  height: 40px;
  color: var(--text-secondary);
  text-indent: 22px;
  font-size: 16px;
  border-radius: 10px;
}

.selectWrapper select ~ span {
  margin-block: auto;
}

.selectWrapper.rightButtons {
  grid-template: 'label label' 'select buttons';
  grid-template-columns: auto min-content;
  grid-column-gap: 0.5rem;
}

.selectWrapper.rightButtons label {
  grid-area: label;
}

.selectWrapper.rightButtons .rightButtons {
  grid-area: buttons;
  align-self: center;
}
