.errorDialog.error-box {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding-block: 4px;
  padding-inline: 6px;
  height: 25em;
  overflow: auto;
  user-select: text;
}

.errorDialog.contentHeader {
  margin-bottom: 10px;
  color: var(--status-danger);
}
