name: Build Heroic, upload artifacts

on:
  workflow_call:
    inputs:
      publish-snap:
        required: false
        type: boolean
    secrets:
      workflowToken:
        required: true
      snapcraftIdEdge:
        required: false

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2025, ubuntu-24.04, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install-deps
      - name: Build Windows Portable version
        run: pnpm dist:win portable
        if: runner.os == 'Windows'
      - name: Build macOS x64 & arm64 versions
        run: pnpm dist:mac --x64 --arm64 --publish=never
        env:
          GITHUB_TOKEN: ${{ secrets.workflowToken }}
          GH_TOKEN: ${{ secrets.workflowToken }}
          CSC_IDENTITY_AUTO_DISCOVERY: false
        if: runner.os == 'macOS'
      - name: Build and publish Snap version
        run: |
          sudo apt-get install --no-install-recommends -y snapcraft
          pnpm dist:linux Snap --publish=always
        env:
          SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.snapcraftIdEdge }}
        if: runner.os == 'Linux' && inputs.publish-snap
      - name: Build AppImage version
        run: pnpm dist:linux AppImage --x64 --arm64 --publish=never
        if: runner.os == 'Linux'
      - name: Upload built version
        uses: actions/upload-artifact@v6
        with:
          name: ${{ (matrix.os == 'windows-2025'  && 'win-portable'  ) ||
                    (matrix.os == 'macos-15'      && 'mac-x64'       ) ||
                    (matrix.os == 'ubuntu-24.04'  && 'linux-AppImage-x64') }}
          path: ${{ (matrix.os == 'windows-2025'  && 'dist/Heroic*.exe'      ) ||
                    (matrix.os == 'macos-15'      && 'dist/Heroic*x64.dmg'   ) ||
                    (matrix.os == 'ubuntu-24.04'  && 'dist/Heroic*x86_64.AppImage') }}
          retention-days: 14
          if-no-files-found: error
          compression-level: 3
      - name: Upload linux ARM version
        uses: actions/upload-artifact@v6
        with:
          name: linux-AppImage-arm64
          path: dist/Heroic*arm64.AppImage
          retention-days: 14
          if-no-files-found: error
          compression-level: 3
        if: runner.os == 'Linux'
      - name: Upload macOS ARM version
        uses: actions/upload-artifact@v6
        with:
          name: mac-arm64
          path: dist/Heroic*arm64.dmg
          retention-days: 14
          if-no-files-found: error
          compression-level: 3
        if: runner.os == 'macOS'
