name: Build

on:
  push:
    branches: [main, stable]
    tags:
      - '!v*'
  workflow_dispatch:

jobs:
  build_windows:
    runs-on: windows-latest
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v3
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install modules.
        run: npm i --legacy-peer-deps
      - name: Build artifacts.
        run: npm run dist:win portable
      - name: Upload EXE.
        uses: actions/upload-artifact@v3
        with:
          name: win-portable
          path: dist/Heroic*.exe
          retention-days: 14
  build_linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v3
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install modules.
        run: yarn
      - name: Build artifacts.
        run: yarn dist:linux appimage --publish=never
      - name: Upload AppImage.
        uses: actions/upload-artifact@v3
        with:
          name: linux-appimage
          path: dist/Heroic-*.AppImage
          retention-days: 14
  build_mac:
    runs-on: macos-latest
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v3

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install modules.
        run: yarn
      - name: Build artifacts.
        run: yarn dist:mac --publish=never
      - name: Upload x64.
        uses: actions/upload-artifact@v3
        with:
          name: mac-x64
          path: dist/Heroic*x64.dmg
          retention-days: 14
      - name: Upload ARM64.
        uses: actions/upload-artifact@v3
        with:
          name: mac-arm64
          path: dist/Heroic*arm64.dmg
          retention-days: 14
