name: Code check
permissions:
  contents: read

on:
  pull_request:
    branches: [main, stable]
  workflow_dispatch:

jobs:
  codecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install-deps
      - name: Check Typescript syntax
        run: pnpm codecheck
