name: Draft Beta Releases

on:
  push:
    branches: [beta]
  workflow_dispatch:

jobs:
  draft-releases:
    runs-on: macos-11
    steps:
      - run: brew install rpm
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm install --legacy-peer-deps
      - run: npm run release:all
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
