name: Draft Release Windows

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  draft-releases:
    runs-on: windows-2025
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install-deps
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: python3 -m pip install castlabs-evs
      - run: pnpm release:win
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
          GH_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
          EVS_ACCOUNT_NAME: ${{ secrets.EVS_ACCOUNT_NAME }}
          EVS_PASSWD: ${{ secrets.EVS_PASSWD }}
