name: Draft Release MacOSX

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

env:
  GITHUB_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
  GH_TOKEN: ${{ secrets.WORKFLOW_TOKEN }}
  CSC_IDENTITY_AUTO_DISCOVERY: true
  CSC_LINK: ${{ secrets.CSC_LINK }}
  CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
  APPLE_ID: ${{ secrets.APPLE_ID }}
  APPLE_APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_APP_SPECIFIC_PASSWORD }}
  APPLE_TEAM_ID: ${{ secrets.TEAMID }}
  EVS_ACCOUNT_NAME: ${{ secrets.EVS_ACCOUNT_NAME }}
  EVS_PASSWD: ${{ secrets.EVS_PASSWD }}

jobs:
  draft-releases:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/install-deps
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - run: python3 -m pip install castlabs-evs
      - run: pnpm release:mac
