name: Lint

on:
  pull_request:
    branches: [main, stable]
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install modules.
        run: yarn
      - name: Lint code.
        run: yarn lint
      - name: Prettier code.
        run: yarn prettier
