name: Test

on:
  pull_request:
    branches: [main, stable]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
      - name: Test CI
        run: yarn test:ci
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v3
      - uses: ./.github/actions/install-deps
      - name: Test E2E
        run: yarn test:e2e
