name: Test

on:
  pull_request:
    branches: [main, stable]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v6
      - uses: ./.github/actions/install-deps
      - name: Test CI
        run: pnpm test:ci
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository.
        uses: actions/checkout@v6
      - uses: ./.github/actions/install-deps
      - name: Fix ownership and mode
        run: sudo chown root /home/runner/work/HeroicGamesLauncher/HeroicGamesLauncher/node_modules/electron/dist/chrome-sandbox && sudo chmod 4755 /home/runner/work/HeroicGamesLauncher/HeroicGamesLauncher/node_modules/electron/dist/chrome-sandbox
      - name: Test E2E
        run: pnpm test:e2e
